<aside class="padding-vertical padding-xlarge background-color-grey-100">
  <div
    style="height: 100%;"
    class="padding-vertical tablet-padding-large display-flex flex-direction-column justify-content-between"
  >
    <div class="aside-top-container">
      {% if customer.metafields.custom.company_logo %}
        <img
          class="aside-top_logo margin-bottom margin-medium padding-horizontal tablet-padding-large mobile-padding-small"
          src="{{ customer.metafields.custom.company_logo | file_url }}"
          alt="Company Logo"
        >
      {% endif %}

      <ul class="aside-navigation padding-horizontal tablet-padding-large mobile-padding-small">
        {% if is_super_admin %}
          <li data-js-element="view-campaigns-link" class="aside-navigation_item">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="/account"
              >View all campaigns</a
            >
          </li>
          <li data-js-element="create-campaign-link" class="aside-navigation_item">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold text-color-grey-300"
              href="/account?campaign=create"
              >Create a campaign</a
            >
          </li>
        {% else %}
          <li data-js-element="dashboard-link" class="aside-navigation_item margin-bottom margin-small">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="#dashboard"
            >
              {%- if request.path != '/account' %}Back to {% endif %}Dashboard</a
            >
          </li>
          <li data-js-element="order-history-link" class="aside-navigation_item margin-bottom margin-small">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account?order-history' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="#order-history"
              >Order History</a
            >
          </li>
          <li data-js-element="send-gifts-link" class="aside-navigation_item margin-bottom margin-small">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account?send-gifts' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="#send-gifts"
              >Send Gifts</a
            >
          </li>
          {% comment %} use data-js-element="new-products-link" {% endcomment %}
          <li data-js-element="new-products-link" class="aside-navigation_item margin-bottom margin-small">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account?new-products' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="#new-products"
              >New Products</a
            >
          </li>
          {% comment %} use data-js-element="my-products-link" {% endcomment %}
          <li data-js-element="my-products-link" class="aside-navigation_item margin-bottom margin-small">
            <a
              class="heading-style-h5 aside-navigation_link text-weight-semibold {% if request.path == '/account?my-products' %}is-active text-color-primary{% else %}text-color-grey-300{% endif %}"
              href="#my-products"
              >My Products</a
            >
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="aside-bottom-container padding-horizontal tablet-padding-large mobile-padding-small">
      <div class="account-details margin-vertical margin-large">
        <h4 class="account-details_title margin-bottom margin-small">{{ 'customer.account.details' | t }}</h4>

        <div class="account-details_address margin-bottom margin-small">
          {{ customer.default_address | format_address }}
        </div>

        <a class="account-details_view-address link text-size-small" href="{{ routes.account_addresses_url }}">
          {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
        </a>
      </div>

      <div class="account-support margin-bottom margin-large">
        <h6 class="text-weight-semibold">Need help?</h6>
        <p class="text-color-grey-700 margin-vertical margin-xsmall">Get in touch with your account manager</p>
        <a class="link text-size-small" href="#contact">Contact us</a>
      </div>

      <div class="logout margin-top mobile-margin-huge">
        <a class="display-flex align-items-end" href="{{ routes.account_logout_url }}">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.80589 1.82617C5.2919 1.82617 1.63281 5.48526 1.63281 9.99925C1.63281 14.5132 5.2919 18.1723 9.80589 18.1723C14.3199 18.1723 17.979 14.5132 17.979 9.99925C17.979 5.48526 14.3199 1.82617 9.80589 1.82617Z" stroke="#424242" stroke-width="1.22596" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3.48828 15.1862C3.48828 15.1862 5.31006 12.8601 9.80525 12.8601C14.3004 12.8601 16.123 15.1862 16.123 15.1862M9.80525 9.99955C10.4555 9.99955 11.0792 9.74122 11.539 9.2814C11.9988 8.82157 12.2572 8.19792 12.2572 7.54763C12.2572 6.89734 11.9988 6.27368 11.539 5.81385C11.0792 5.35403 10.4555 5.0957 9.80525 5.0957C9.15496 5.0957 8.53131 5.35403 8.07148 5.81385C7.61166 6.27368 7.35333 6.89734 7.35333 7.54763C7.35333 8.19792 7.61166 8.82157 8.07148 9.2814C8.53131 9.74122 9.15496 9.99955 9.80525 9.99955V9.99955Z" stroke="#424242" stroke-width="1.22596" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <span class="margin-left margin-xsmall link">
            {{ 'customer.log_out' | t }}
          </span>
        </a>
      </div>
    </div>
  </div>
</aside>

<style>
  .is-hidden {
    display: none;
  }

  .is-visible {
    display: block;
  }
</style>

<script type="module">
  const initSidebar = () => {
    const elements = {
      navLinks: {
        dashboard: document.querySelector('[data-js-element="dashboard-link"]'),
        orderHistory: document.querySelector('[data-js-element="order-history-link"]'),
        newProducts: document.querySelector('[data-js-element="new-products-link"]'),
        sendGifts: document.querySelector('[data-js-element="send-gifts-link"]'),
        myProducts: document.querySelector('[data-js-element="my-products-link"]'),
        dashboardCards: [...document.querySelectorAll('[data-js-element="dashboard-card"]')],
      },
      navItems: {
        orderHistoryContainer: document.querySelector('[data-js-element="order-history-container"]'),
        dashboardContainer: document.querySelector('[data-js-element="dashboard-container"]'),
        newProducts: document.querySelector('[data-js-element="new-products-container"]'),
        sendGifts: document.querySelector('[data-js-element="send-gifts-container"]'),
        myProducts: document.querySelector('[data-js-element="my-products-container"]'),
      },
    };

    const toggleActiveView = () => {
      if (!elements.navLinks.dashboardCards.length) return;

      elements.navLinks.dashboardCards.forEach((link) => {
        link.addEventListener('click', () => {
          switch (link.dataset.link) {
            case 'send-gift':
              allHide();
              toggleActiveClass(elements.navItems.sendGifts);
              break;
            case 'new-products':
              allHide();
              toggleActiveClass(elements.navItems.newProducts);
              break;
            case 'my-orders':
              allHide();
              toggleActiveClass(elements.navItems.orderHistoryContainer);
              break;
            case 'my-products':
              allHide();
              toggleActiveClass(elements.navItems.myProducts);
              break;
            default:
              break;
          }
        });
      });
    };

    const toggleActiveClass = (element) => {
      const activeElement = document.querySelector('.is-visible');
      if (activeElement) {
        activeElement.classList.remove('is-visible');
      }
      element.classList.add('is-visible');
    };

    const toggleOrderHistory = () => {
      allHide();
      elements.navItems.orderHistoryContainer.classList.remove('is-hidden');
    };

    const toggleDashboard = () => {
      allHide();
      elements.navItems.dashboardContainer.classList.remove('is-hidden');
    };

    const toggleNewProducts = () => {
      allHide();
      elements.navItems.newProducts.classList.remove('is-hidden');
    };

    const toggleSendGifts = () => {
      allHide();
      elements.navItems.sendGifts.classList.remove('is-hidden');
    };

    const toggleMyProducts = () => {
      allHide();
      elements.navItems.myProducts.classList.remove('is-hidden');
    };

    const allHide = () => {
      elements.navItems.orderHistoryContainer.classList.add('is-hidden');
      elements.navItems.dashboardContainer.classList.add('is-hidden');
      elements.navItems.newProducts.classList.add('is-hidden');
      elements.navItems.sendGifts.classList.add('is-hidden');
      elements.navItems.myProducts.classList.add('is-hidden');
    };

    const toggleNewProductsLink = () => {
      toggleActiveClass(elements.navLinks.newProducts);
      toggleNewProducts();
    };

    const toggleSendGiftsLink = () => {
      toggleActiveClass(elements.navLinks.sendGifts);
      toggleSendGifts();
    };

    const toggleMyProductsLink = () => {
      toggleActiveClass(elements.navLinks.myProducts);
      toggleMyProducts();
    };

    const toggleOrderHistoryLink = () => {
      toggleActiveClass(elements.navLinks.orderHistory);
      toggleOrderHistory();
    };

    const toggleDashboardLink = () => {
      toggleActiveClass(elements.navLinks.dashboard);
      toggleDashboard();
    };

    const init = () => {
      const orderHistoryLink = document.querySelector('[data-js-element="order-history-link"]');
      const dashboardLink = document.querySelector('[data-js-element="dashboard-link"]');
      const sendGiftsLink = document.querySelector('[data-js-element="send-gifts-link"]');
      const newProductsLink = document.querySelector('[data-js-element="new-products-link"]');
      const myProductsLink = document.querySelector('[data-js-element="my-products-link"]');

      if (orderHistoryLink) {
        orderHistoryLink.addEventListener('click', toggleOrderHistoryLink);
      }

      if (dashboardLink) {
        dashboardLink.addEventListener('click', toggleDashboardLink);
      }

      if (sendGiftsLink) {
        sendGiftsLink.addEventListener('click', toggleSendGiftsLink);
      }

      if (newProductsLink) {
        newProductsLink.addEventListener('click', toggleNewProductsLink);
      }

      if (myProductsLink) {
        myProductsLink.addEventListener('click', toggleMyProductsLink);
      }

      toggleActiveView();
    };

    init();
  };

  initSidebar();
</script>
