<div class="active-facets {{ class }}">

  {%- for filter in results.filters -%}
    {%- for value in filter.active_values -%}
      <facet-remove>
        <a href="{{ value.url_to_remove }}" class="active-facets__button button">
          {{ filter.label }}: {{ value.label | escape }}
          {% render 'icon-close-small' %}
          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
        </a>
      </facet-remove>
    {%- endfor -%}

    {%- if filter.type == "price_range" -%}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        <facet-remove>
          <a href="{{ filter.url_to_remove }}" class="active-facets__button button">
            {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
            {% render 'icon-close-small' %}
            <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
          </a>
        </facet-remove>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

  <facet-remove class="active-facets__button-wrapper">
    <a href="{{ results_url }}" class="active-facets__button-remove">
      <span>{{ 'products.facets.clear_all' | t }}</span>
    </a>
  </facet-remove>

</div>