<div class="padding-bottom padding-large">
      {% render 'module-header', 
        title: settings.contact_form_title, 
        body: settings.contact_form_body, 
        text_horizontal_alignment: 'left' 
      %}
</div>

<div class="contact-form-body">
      {% form 'contact', class: 'form' %}
    
        <div class="input-container">
          <input type="hidden" name="contact[tags]" value="corporate-account-inquiry">
        
          <div class="field-wrapper margin-bottom margin-medium">
    
            <div class="field-group">
              <label class="text-size-tiny uppercase" for="ContactForm-name">{{ settings.contact_form_input_name_label }}</label>
            
              <input
                id="ContactForm-name"
                type="name"
                name="contact[name]"
                class="field_input"
                value="{{ form.name }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Contact-error--{{ id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Contact-success--{{ id }}"
                {% endif %}
                placeholder="{{ settings.contact_form_input_name_placeholder }}"
                required
              >
            </div>
    
            <div class="field-group">
              <label class="text-size-tiny uppercase" for="ContactForm-name">{{ settings.contact_form_input_message_label }}</label>
    
              <input
                id="ContactForm-email"
                type="email"
                name="contact[email]"
                class="field_input"
                value="{{ form.email }}"
                aria-required="true"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  autofocus
                  aria-invalid="true"
                  aria-describedby="Contact-error--{{ id }}"
                {% elsif form.posted_successfully? %}
                  aria-describedby="Contact-success--{{ id }}"
                {% endif %}
                placeholder="{{ settings.contact_form_input_email_placeholder }}"
                required
              >
            </div>

            <div class="field-group">
              <label class="text-size-tiny uppercase" for="ContactForm-body">{{ settings.contact_form_input_name_label }}</label>
              
              <textarea
                required
                rows="3"
                id="ContactForm-body"
                class="text-area field_input"
                name="contact[body]"
                placeholder="{{ settings.contact_form_input_name_placeholder }}"
              >
                {{- form.body -}}
              </textarea>
            </div>
    
          </div>
    
          <button type="submit" class="button contact-submit-button" name="commit" id="Subscribe" aria-label="{{ 'contact.button_label' | t }}">
            <span>{{ settings.contact_form_cta_text }}</span>
          </button>
        </div>
    
        {%- if form.errors -%}
          <small class="text-size-tiny text-color-grey-500 contact-form__message form__message margin-top margin-small" id="Contact-error--{{ id }}">
            {% render 'icon-error' %}
            {{ form.errors.translated_fields['email'] | capitalize }} 
            {{ form.errors.messages['email'] }}
          </small>
        {%- endif -%}
    
        {%- if form.posted_successfully? -%}

            <script type="module">      
                  window.initDownloadFromForm()
            </script>
    
          <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;" class="text-align-center">
            <h3 class="text-size-tiny text-color-grey-500 form__message" id="Contact-success--{{ id }}" tabindex="-1" autofocus>
              {% render 'icon-success' %}
              {{ settings.contact_form_success_message }}
            </h3>
          </div>
        {%- endif -%}
        
      {% endform %}
    </div>