<div class="dialog-form-header padding-bottom padding-large">
  <img
    class="dialog-form-header_icon padding-bottom padding-xsmall"
    src="{{ settings.download_catalogue_icon_url }}"
    alt="foodie page download catalog form icon"
  >
  {%
    render 'module-header',
    title: settings.download_catalogue_title,
    body: settings.download_catalogue_body,
    text_horizontal_alignment: 'left',
  %}
</div>

<div class="dialog-form-body">
  {% form 'contact', class: 'form', id: 'download-catalogue' %}
    <div class="input-container">
      <input type="hidden" name="contact[tags]" value="download-catalogue">

      <div class="field-wrapper margin-bottom margin-medium">
        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-firstname">
            {{- settings.download_catalogue_input_firstname_label -}}
          </label>

          <input
            id="ContactForm-firstname"
            type="name"
            name="contact[firstname]"
            class="field_input"
            value="{{ form.firstname }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Contact-error--{{ id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Contact-success--{{ id }}"
            {% endif %}
            placeholder="{{ settings.download_catalogue_input_firstname_placeholder }}"
            required
          >
        </div>

        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-lastname">
            {{- settings.download_catalogue_input_lastname_label -}}
          </label>

          <input
            id="ContactForm-lastname"
            type="name"
            name="contact[lastname]"
            class="field_input"
            value="{{ form.lastname }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Contact-error--{{ id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Contact-success--{{ id }}"
            {% endif %}
            placeholder="{{ settings.download_catalogue_input_lastname_placeholder }}"
            required
          >
        </div>

        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-email">
            {{- settings.download_catalogue_input_email_label -}}
          </label>

          <input
            id="ContactForm-email"
            type="email"
            name="contact[email]"
            class="field_input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Contact-error--{{ id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Contact-success--{{ id }}"
            {% endif %}
            placeholder="{{ settings.download_catalogue_input_email_placeholder }}"
            required
          >
        </div>

        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-company">
            {{- settings.download_catalogue_input_company_label -}}
          </label>

          <input
            id="ContactForm-company"
            type="text"
            name="contact[company]"
            class="field_input"
            value="{{ form.company }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Contact-error--{{ id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Contact-success--{{ id }}"
            {% endif %}
            placeholder="{{ settings.download_catalogue_input_company_placeholder }}"
            required
          >
        </div>
      </div>

      <button
        type="submit"
        class="button contact-submit-button"
        name="commit"
        id="Subscribe"
        aria-label="{{ 'contact.button_label' | t }}"
      >
        <span>{{ settings.download_catalogue_cta_text }}</span>
      </button>
    </div>

    {%- if form.errors -%}
      <small
        class="text-size-tiny text-color-grey-500 contact-form__message form__message margin-top margin-small"
        id="Contact-error--{{ id }}"
      >
        {% render 'icon-error' %}
        {{ form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email }}
      </small>
    {%- endif -%}

    {{ form.id }}

    {%- if form.posted_successfully? -%}

      <script>
        gtag_report_conversion(window.location);
        gtag_report_view_catalogue(window.location);
      </script>

      <script type="module">
        window.initDownloadFromForm()
      </script>

      <div
        style="display: flex; flex-direction: column; align-items: center; justify-content: center;"
        class="text-align-center"
      >
        <h3
          class="text-size-tiny text-color-grey-500 form__message"
          id="Contact-success--{{ id }}"
          tabindex="-1"
          autofocus
        >
          {% render 'icon-success' %}
          {{ settings.download_catalogue_success_message }}
        </h3>
        <a
          class="link text-size-tiny margin-top margin-xsmall"
          target="_blank"
          href="{{ settings.download_catalogue_download_file_url }}"
          download
          >Click here to download our Corporate Gifting Catalogue PDF</a
        >
      </div>
    {%- endif -%}
  {% endform %}
</div>

<script type="module">

  document.getElementById('download-catalogue').addEventListener('submit', async (event) => {

    event.preventDefault();
    
    const formData = new FormData(event.target);
    
    const data = {};
    for (const [key, value] of formData.entries()) {
      data[key] = value;
    }

    const firstnameValue = Object.keys(data).filter(key => key.includes("firstname"));
    const lastnameValue = Object.keys(data).filter(key => key.includes("lastname"));
    const emailValue = Object.keys(data).filter(key => key.includes("email"));
    const companyValue = Object.keys(data).filter(key => key.includes("company"));

    // Call Salesforce function with data as the argument
    if (window.customFunctions.salesforceFormSubmission) {
      await window.customFunctions.salesforceFormSubmission({
        firstName: data[firstnameValue],
        lastName: data[lastnameValue],
        email: data[emailValue],
        company: data[companyValue],
        leadSource: 'Foodie Pages Frontend - Download Catalogue',
      })
    }

    // Manually submit the form
    event.target.submit();
  });
</script>
