{% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - filter_type: {String} Type of filter

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}

{{ 'component-show-more.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="facets-container padding-top padding-huge">
  <facet-filters-form class="facets hide-tablet">
    <form id="FacetFiltersForm" class="facets__form margin-bottom margin-small">

      {%- if results.terms -%}
        <input type="hidden" name="q" value="{{ results.terms | escape }}">
        <input name="options[prefix]" type="hidden" value="last">
      {%- endif -%}

      {% if enable_filtering %}
        
        <div id="FacetsWrapperDesktop" class="facets__wrapper">

          <p class="facets__heading margin-right margin-small text-size-small" id="verticalTitle" tabindex="-1">{{ 'products.facets.filter_by_label' | t }}</p>

          <script src="{{ 'show-more.js' | asset_url }}" defer="defer"></script>
          
          {%- for filter in results.filters -%}

            {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}

            {% case filter.type %}

            {% when 'boolean' or 'list' %}

              <details id="Details-{{ forloop.index }}-{{ section.id }}" class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                <summary class="facets__summary focus-offset" aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})">
                  <div>
                    <span class="text-size-small">
                      {{ filter.label | escape }}
                    </span>
                    {% render 'icon-caret' %}
                  </div>
                </summary>
                <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="parent-display facets__display padding-small">
                  <div class="facets__header padding-bottom padding-xsmall">
                    <span class="facets__selected text-size-small no-js-hidden">{{ 'products.facets.filters_selected' | t: count: filter.active_values.size }}</span>
                    <facet-remove>
                      <a href="{{ filter.url_to_remove }}" class="facets__reset text-size-small">
                        {{ 'products.facets.reset' | t }}
                      </a>
                    </facet-remove>
                  </div>

                  <fieldset class="facets-wrap parent-wrap">
                    <legend class="visually-hidden">{{ filter.label | escape }}</legend>
                    <ul class="facets__list list-unstyled no-js-hidden" role="list">

                      {%- for value in filter.values -%}
                        <li class="list-menu__item facets__item">
                          <label for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}" class="facet-checkbox padding-top padding-xsmall{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                            <input type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value }}"
                              id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}"
                              {% if value.active %}checked{% endif %}
                              {% if value.count == 0 and value.active == false %}disabled{% endif %}
                            >

                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                            </svg>

                            <svg class="icon icon-checkmark"
                              width="1.1rem"
                              height="0.7rem"
                              viewBox="0 0 11 7"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">

                              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>

                            <span class="text-size-small text-style-capitalize" aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                            <span class="visually-hidden">{{ value.label | escape }} ({% if value.count == 1 %}{{ 'products.facets.product_count_simple.one' | t: count: value.count }}{% else %}{{ 'products.facets.product_count_simple.other' | t: count: value.count }}{% endif %})</span>
                          </label>
                        </li>

                      {%- endfor -%}
                    </ul>

                  </fieldset>
                </div>
              </details>

            {% when 'price_range' %}

              {% liquid
                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                assign uses_comma_decimals = false
                if currencies_using_comma_decimals contains cart.currency.iso_code
                  assign uses_comma_decimals = true
                endif
              %}

              <details id="Details-{{ forloop.index }}-{{ section.id }}" class="disclosure-has-popup facets__disclosure js-filter" data-index="{{ forloop.index }}">
                <summary class="facets__summary focus-offset">
                  <div>
                    <span>{{ filter.label | escape }}</span>
                    {% render 'icon-caret' %}
                  </div>
                </summary>
                <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display padding-small">
                  <div class="facets__header">
                    {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                    <span class="facets__selected">{{ "products.facets.max_price" | t: price: max_price_amount }}</span>
                    <facet-remove>
                      <a href="{{ filter.url_to_remove }}" class="facets__reset">
                        {{ 'products.facets.reset' | t }}
                      </a>
                    </facet-remove>
                  </div>
                  <price-range class="facets__price">
                    <span class="field-currency">{{ cart.currency.symbol }}</span>
                    <div class="field">
                      <input class="field__input"
                        name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.label | escape }}-GTE"
                        {%- if filter.min_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                          {%- else -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                          {% endif %}
                        {%- endif -%}
                        type="number"
                        placeholder="0"
                        min="0"
                        {%- if uses_comma_decimals -%}
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      >
                      <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                    </div>
                    <span class="field-currency">{{ cart.currency.symbol }}</span>
                    <div class="field">
                      <input class="field__input"
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.label | escape }}-LTE"
                        {%- if filter.max_value.value -%}
                          {%- if uses_comma_decimals -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                          {%- else -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                          {% endif %}
                        {%- endif -%}
                        type="number"
                        min="0"
                        {%- if uses_comma_decimals -%}
                          placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                          max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                          placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      >
                      <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                    </div>
                  </price-range>
                </div>
              </details>
            {% endcase %}

          {%- endfor -%}
        </div>

        {% render 'active-facets', class: 'hide-tablet active-facets-desktop', results: results %}

      {% endif %}

      {% if results.current_vendor or results.current_type %}
        <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
      {% endif %}

      {%- if enable_sorting -%}
        <div class="facet-filters sorting caption">
          <div class="facet-filters__field">
            <p class="facet-filters__label text-size-small margin-right margin-small text-size-small">
              <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
            </p>
            <div class="select">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              <select name="sort_by" class="facet-filters__sort select__select" id="SortBy" aria-describedby="a11y-refresh-page-message">
                {%- for option in results.sort_options -%}
                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                {%- endfor -%}
              </select>
              {% render 'icon-caret' %}
            </div>
          </div>
        </div>
      {%- endif -%}

      {% render 'product-count', class: 'hide-tablet', results: results %}

    </form>

  </facet-filters-form>

  {% comment %}  Drawer and mobile filter {% endcomment %}
  <menu-drawer class="mobile-facets__wrapper hide-tablet-and-up" data-breakpoint="mobile">
    <details class="mobile-facets__disclosure disclosure-has-popup">

      <summary class="mobile-facets__open-wrapper focus-offset">
        <span class="mobile-facets__open">
          {% render 'icon-filter' %}
          <span class="mobile-facets__open-label button-label medium-hide large-up-hide">
            {%- if enable_filtering and enable_sorting -%}
              {{ 'products.facets.filter_and_sort' | t }}
            {%- elsif enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- elsif enable_sorting -%}
              {{ 'products.facets.sort_button' | t }}
            {%- endif -%}
          </span>
          {% comment %} <span class="mobile-facets__open-label button-label small-hide">
            {%- if enable_filtering -%}
              {{ 'products.facets.filter_button' | t }}
            {%- endif -%}
          </span> {% endcomment %}
        </span>
        <span tabindex="0" class="mobile-facets__close mobile-facets__close--no-js">{%- render 'icon-close' -%}</span>
      </summary>

      <facet-filters-form>
        <form id="FacetFiltersFormMobile" class="mobile-facets">
          <div class="mobile-facets__inner gradient">
            <div class="mobile-facets__header">
              <div class="mobile-facets__header-inner text-align-left">
                <p class="mobile-facets__heading medium-hide large-up-hide text-size-tiny text-color-tertiary uppercase text-weight-medium">
                  {%- if enable_filtering and enable_sorting -%}
                    {{ 'products.facets.filter_and_sort' | t }}
                  {%- elsif enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- elsif enable_sorting -%}
                    {{ 'products.facets.sort_button' | t }}
                  {%- endif -%}
                </p>
                <h3 class="mobile-facets__heading small-hide padding-bottom padding-small">
                  {%- if enable_filtering -%}
                    {{ 'products.facets.filter_button' | t }}
                  {%- endif -%}
                </h3>
                <p class="mobile-facets__count text-size-small">
                  {%- if results.results_count -%}
                    {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
                  {%- elsif results.products_count == results.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
                  {%- else -%}
                    {{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
                  {%- endif -%}
                </p>
              </div>
            </div>
            <div class="mobile-facets__main has-submenu gradient">
              {%- if enable_filtering -%}

                {%- for filter in results.filters -%}

                  {% case filter.type %}

                  {% when 'boolean' or 'list' %}

                    <details id="Details-Mobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                      <summary class="mobile-facets__summary">
                        <div>
                          <span class="text-size-medium text-weight-medium">{{ filter.label | escape }}</span>
                          <span class="mobile-facets__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                        </div>
                      </summary>
                      <div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu background-color-white">

                        <button class="mobile-facets__close-button text-size-medium text-weight-medium text-color-grey-500" aria-expanded="true" type="button">
                          {% render 'icon-arrow' %}
                          {{ filter.label | escape }}
                        </button>

                        <ul class="mobile-facets__list list-unstyled" role="list">
                          {%- for value in filter.values -%}
                            <li class="mobile-facets__item list-menu__item">
                              <label 
                                for="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}" 
                                class="mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}"
                              >
                                <input 
                                  class="mobile-facets__checkbox" 
                                  type="checkbox" 
                                  name="{{ value.param_name }}" 
                                  value="{{ value.value }}" 
                                  id="Filter-{{ filter.param_name | escape }}-mobile-{{ forloop.index }}"
                                  {% if value.active %}checked{% endif %}
                                  {% if value.count == 0 and value.active == false %}disabled{% endif %}
                                >
                                <span class="mobile-facets__highlight"></span>
                                <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                  <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                </svg>
                                <svg class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <span class="text-size-small text-style-capitalize" aria-hidden="true">{{ value.label | escape }} ({{ value.count }})</span>
                                <span class="visually-hidden">
                                  {{ value.label | escape }} 
                                  ({% if value.count == '1' %}{{ 'products.facets.product_count_simple.one' | t: count: value.count }}
                                    {% else %}
                                    {{ 'products.facets.product_count_simple.other' | t: count: value.count }}
                                  {% endif %})
                                </span>
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>

                        <div class="no-js-hidden mobile-facets__footer background-color-secondary">
                          <facet-remove class="mobile-facets__clear-wrapper">
                            <a href="{{ results_url }}" class="mobile-facets__clear">{{ 'products.facets.clear' | t }}</a>
                          </facet-remove>
                          <button type="button" class="no-js-hidden button" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">
                            <span>
                              {{ 'products.facets.apply' | t }}
                            </span>
                          </button>
                        </div>

                      </div>
                    </details>

                  {% when 'price_range' %}

                    <details id="Details-Mobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                      <summary class="mobile-facets__summary">
                        <div>
                          <span class="text-size-medium text-weight-medium">{{ filter.label | escape }}</span>
                          <span class="mobile-facets__arrow no-js-hidden">{% render 'icon-arrow' %}</span>
                        </div>
                      </summary>
                      <div id="FacetMobile-{{ forloop.index }}-{{ section.id }}" class="mobile-facets__submenu background-color-white">
                        <button class="mobile-facets__close-button text-size-medium text-color-grey-500 margin-bottom margin-small text-weight-medium" aria-expanded="true" type="button">
                          {% render 'icon-arrow' %}
                          {{ filter.label | escape }}
                        </button>

                        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
                        <p class="mobile-facets__info text-size-small">{{ "products.facets.max_price" | t: price: max_price_amount }}</p>

                        <price-range class="facets__price">
                          <span class="field-currency">{{ cart.currency.symbol }}</span>
                          <div class="field">
                            <input class="field__input"
                              name="{{ filter.min_value.param_name }}"
                              id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                              {%- if filter.min_value.value -%}
                                {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                              {%- endif -%}
                              type="number"
                              placeholder="0"
                              min="0"
                              inputmode="decimal"
                              {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                            >
                            <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                          </div>

                          <span class="field-currency">{{ cart.currency.symbol }}</span>
                          <div class="field">
                            <input class="field__input"
                              name="{{ filter.max_value.param_name }}"
                              id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                              {%- if filter.max_value.value -%}
                                {%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                              {%- endif -%}
                              type="number"
                              min="0"
                              inputmode="decimal"
                              {%- if uses_comma_decimals -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                              {%- else -%}
                                placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                              {% endif %}
                            >
                            <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                          </div>
                        </price-range>
                        <div class="no-js-hidden mobile-facets__footer">
                          <facet-remove class="mobile-facets__clear-wrapper">
                            <a href="{{ results_url }}" class="mobile-facets__clear">{{ 'products.facets.clear' | t }}</a>
                          </facet-remove>
                          <button type="button" class="no-js-hidden button" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">
                            <span>
                              {{ 'products.facets.apply' | t }}
                            </span>
                          </button>
                        </div>
                      </div>
                    </details>

                  {% endcase %}

                {%- endfor -%}

              {%- endif -%}

              {%- if enable_sorting -%}
                <div class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                  <div class="mobile-facets__summary">
                    <div class="mobile-facets__sort">
                      <label class="text-size-small" for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                      <div class="select">
                        <select name="sort_by" class="select__select" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message">
                          {%- for option in results.sort_options -%}
                            <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  </div>
                </div>
              {%- endif -%}

              <div class="mobile-facets__footer">
                <facet-remove class="mobile-facets__clear-wrapper">
                  <a href="{{ results_url }}" class="mobile-facets__clear">{{ 'products.facets.clear_all' | t }}</a>
                </facet-remove>
                <button type="button" class="no-js-hidden button button--primary" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">
                  <span>
                    {{ 'products.facets.apply' | t }}
                  </span>
                </button>
              </div>
            </div>

            {% if results.current_vendor or results.current_type %}
              <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
            {% endif %}

            {%- if results.terms -%}
              <input type="hidden" name="q" value="{{ results.terms | escape }}">
              <input name="options[prefix]" type="hidden" value="last">
            {%- endif -%}
          </div>
        </form>
      </facet-filters-form>

    </details>
  </menu-drawer>

  {% render 'active-facets', class: 'hide-tablet-and-up padding-vertical padding-small active-facets-mobile', results: results %}
  {% render 'product-count', class: 'hide-tablet-and-up', results: results %}
</div>
