{% unless text_horizontal_alignment %}
  {% assign text_horizontal_alignment = 'center' %}
{% endunless %}


<div class="{{ text_horizontal_alignment }} {{ class }}">
  {% if overline != blank %}
    <small class="overline module-header_overline text-size-tiny uppercase text-color-tertiary margin-bottom margin-xxsmall mobile-margin-xsmall text-weight-semibold">{{ overline }}</small>
  {% endif %}
  {% if title != blank %}
    {% if heading_style == 'h1' %}
      <h1 class="module-header_title dual-font-title">{{ title }}</h2>
    {% elsif heading_style == 'h2' %}
      <h2 class="module-header_title dual-font-title">{{ title }}</h2>
      {% elsif heading_style == 'h3' %}
      <h3 class="module-header_title dual-font-title">{{ title }}</h3>
    {% else %}
      <h2 class="module-header_title dual-font-title">{{ title }}</h2>
    {% endif %}
  {% endif %}

  {% if body != blank %}
    <p class="margin-top margin-small text-color-grey-500">{{ body }}</p>
  {% endif %}
  {% if body_rte != blank %}
    <div class="module-header_rte">{{ body_rte }}</div>
  {% endif %}

  {% if cta_text != blank and cta_link != blank %}
    <div class="margin-auto">
      {% 
        render 'button', 
        cta_text: cta_text, 
        cta_link: cta_link,
        class: 'margin-top margin-medium',
        theme: '',
        preventClick: false,
      %}
    </div>
  {% endif %}
</div>

<style>
  .module-header_title,
  .module-header_title * {
    line-height: 1.3;
  }  
</style>