<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <script type="module">
      window.customFunctions = window.customFunctions || {};
    </script>

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    {{ content_for_header }}

    {% style %}

      h1,
      h2 {
        opacity: 0;
      }

      @import url("https://p.typekit.net/p.css?s=1&k=xdu6qxz&ht=tk&f=9874.14602.18209.47864.47865.47866.47867&a=8574759&app=typekit&e=css");

      @font-face {
        font-family:"kepler-std";
        src:url("https://use.typekit.net/af/4337b5/000000000000000000013144/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/4337b5/000000000000000000013144/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/4337b5/000000000000000000013144/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
        font-display:auto;
        font-style:normal;
        font-weight:500;
        font-stretch:normal;
      }

      @font-face {
        font-family:"kepler-std";
        src:url("https://use.typekit.net/af/411f5c/000000000000000000013145/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/411f5c/000000000000000000013145/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/411f5c/000000000000000000013145/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
        font-display:auto;
        font-style:italic;
        font-weight:500;
        font-stretch:normal;
      }

      @font-face {
        font-family:"kepler-std-extended-display";
        src:url("https://use.typekit.net/af/704750/00000000000000000001303f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/704750/00000000000000000001303f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/704750/00000000000000000001303f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
        font-display:auto;
        font-style:normal;
        font-weight:700;
        font-stretch:normal;
      }

      @font-face {
        font-family:"mundial";
        src:url("https://use.typekit.net/af/7540d0/00000000000000007735ee06/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/7540d0/00000000000000007735ee06/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/7540d0/00000000000000007735ee06/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
        font-display:auto;
        font-style:italic;
        font-weight:400;
        font-stretch:normal;
      }

      @font-face {
        font-family:"mundial";
        src:url("https://use.typekit.net/af/ce96c9/00000000000000007735ee08/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ce96c9/00000000000000007735ee08/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ce96c9/00000000000000007735ee08/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;
        font-style:normal;
        font-weight:400;
        font-stretch:normal;
      }

      @font-face {
        font-family:"mundial";
        src:url("https://use.typekit.net/af/643354/00000000000000007735ee0a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/643354/00000000000000007735ee0a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/643354/00000000000000007735ee0a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
        font-display:auto;
        font-style:italic;
        font-weight:600;
        font-stretch:normal;
      }

      @font-face {
        font-family:"mundial";
        src:url("https://use.typekit.net/af/a21a99/00000000000000007735ee0c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/a21a99/00000000000000007735ee0c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/a21a99/00000000000000007735ee0c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
        font-display:auto;
        font-style:normal;
        font-weight:600;
        font-stretch:normal;
      }

      :root {

/* Typography */

        --unit: 16;

/* Font-family */

        --font-body-family: 'mundial';
        --font-heading-family: 'mundial';
        --font-heading-secondary-family: 'kepler-std';

/* Font Size */

    /* Desktop */

        --font-h1-size-desktop: calc(64 / var(--unit) * 1rem); /* 64px */
        --font-h1-serif-size-desktop: calc(68 / var(--unit) * 1rem); /* 68px */
        --font-h2-size-desktop: calc(48 / var(--unit) * 1rem); /* 48px */
        --font-h2-serif-size-desktop: calc(48 / var(--unit) * 1rem); /* 48px */
        --font-h3-size-desktop: calc(32 / var(--unit) * 1rem); /* 32px */
        --font-h4-size-desktop: calc(24 / var(--unit) * 1rem); /* 24px */
        --font-h5-size-desktop: calc(20 / var(--unit) * 1rem); /* 20px */
        --font-h6-size-desktop: calc(16 / var(--unit) * 1rem); /* 16px */

        --font-text-size-medium-desktop: calc(18 / var(--unit) * 1rem); /* 18px */
        --font-text-size-regular-desktop: calc(16 / var(--unit) * 1rem); /* 16px */
        --font-text-size-small-desktop: calc(14 / var(--unit) * 1rem); /* 14px */
        --font-text-size-tiny-desktop: calc(12 / var(--unit) * 1rem); /* 12px */

    /* Tablet */

        --font-h1-size-tablet: calc(52 / var(--unit) * 1rem); /* 52px */
        --font-h1-serif-size-tablet: calc(54 / var(--unit) * 1rem); /* 54px */
        --font-h2-size-tablet: calc(40 / var(--unit) * 1rem); /* 40px */
        --font-h2-serif-size-tablet: calc(40 / var(--unit) * 1rem); /* 40px */
        --font-h3-size-tablet: calc(28 / var(--unit) * 1rem); /* 28px */
        --font-h4-size-tablet: calc(20 / var(--unit) * 1rem); /* 20px */
        --font-h5-size-tablet: calc(18 / var(--unit) * 1rem); /* 18px */
        --font-h6-size-tablet: calc(14 / var(--unit) * 1rem); /* 14px */

        --font-text-size-medium-tablet: calc(18 / var(--unit) * 1rem); /* 18px */
        --font-text-size-regular-tablet: calc(16 / var(--unit) * 1rem); /* 16px */
        --font-text-size-small-tablet: calc(14 / var(--unit) * 1rem); /* 14px */
        --font-text-size-tiny-tablet: calc(12 / var(--unit) * 1rem); /* 12px */

    /* Mobile */

        --font-h1-size-mobile: calc(40 / var(--unit) * 1rem); /* 40px */
        --font-h1-serif-size-mobile: calc(40 / var(--unit) * 1rem); /* 40px */
        --font-h2-size-mobile: calc(32 / var(--unit) * 1rem); /* 40px */
        --font-h2-serif-size-mobile: calc(32 / var(--unit) * 1rem); /* 40px */
        --font-h3-size-mobile: calc(24 / var(--unit) * 1rem); /* 24px */
        --font-h4-size-mobile: calc(20 / var(--unit) * 1rem); /* 20px */
        --font-h5-size-mobile: calc(16 / var(--unit) * 1rem); /* 14px */
        --font-h6-size-mobile: calc(14 / var(--unit) * 1rem); /* 12px */

        --font-text-size-medium-mobile: calc(18 / var(--unit) * 1rem); /* 18px */
        --font-text-size-regular-mobile: calc(16 / var(--unit) * 1rem); /* 16px */
        --font-text-size-small-mobile: calc(14 / var(--unit) * 1rem); /* 14px */
        --font-text-size-tiny-mobile: calc(12 / var(--unit) * 1rem); /* 12px */

/* Widths */

        --width-mobile: 32.5rem; /* 360px */
        --width-tablet: 55rem; /* 768px */
        --width-desktop: 90rem; /* 1440px */
        --width-large-desktop: 98rem; /* 1568px */

/* Global Padding */

        --padding-mobile: 1.25rem; /* 20px */ 
        --padding-tablet: 2rem; /* 32px */
        --padding-desktop:  3rem; /* 48px */
        --padding-large-desktop: 3rem; /* 48px */

/* Spacing */

    /* Desktop */

        --spacing-tiny-desktop: 0.125rem; /* 2px */
        --spacing-xxsmall-desktop: 0.25rem; /* 4px */
        --spacing-xsmall-desktop: 0.5rem; /* 8px */
        --spacing-small-desktop: 1rem; /* 16px */
        --spacing-medium-desktop: 2rem; /* 32px */
        --spacing-large-desktop: 3rem; /* 48px */
        --spacing-xlarge-desktop: 4rem; /* 64px */
        --spacing-xxlarge-desktop: 5rem; /* 80px */
        --spacing-huge-desktop: 6rem; /* 96px */
        --spacing-xhuge-desktop: 8rem; /* 128px */
        --spacing-xxhuge-desktop: 12rem; /* 192px */

    /* Mobile */
        
        --spacing-tiny-mobile: 0.125rem; /* 2px */
        --spacing-xxsmall-mobile: 0.25rem; /* 4px */
        --spacing-xsmall-mobile: 0.5rem; /* 8px */
        --spacing-small-mobile: 1rem; /* 16px */
        --spacing-medium-mobile: 1.25rem; /* 20px */
        --spacing-large-mobile: 1.5rem; /* 24px */
        --spacing-xlarge-mobile: 2rem; /* 32px */
        --spacing-xxlarge-mobile: 3rem; /* 48px */
        --spacing-huge-mobile: 3.5rem; /* 56px */
        --spacing-xhuge-mobile: 4rem; /* 64px */
        --spacing-xxhuge-mobile: 4.5rem; /* 72px */

/* Colors */

        --color-black: #000000;
        --color-white: #ffffff;

        --color-azul-verdoso-10: #E6F2F0;
        --color-azul-verdoso-18: #D3E7E5;
        --color-azul-verdoso-25: #C1DEDB;
        --color-azul-verdoso-50: #83BEB7;
        --color-azul-verdoso-100: #006D77;

        --color-sandia-10: #FFF3EE;
        --color-sandia-18: #FFEDE5;
        --color-sandia-25: #FBDFD3;
        --color-sandia-50: #FFA887;
        --color-sandia-100: #E29578;

        --color-mar-10: #F3F8FD;
        --color-mar-50: #C1DEF4;
        --color-mar-100: #84BCE9;
        --color-mar-darker: #459CE2;

        --color-red: #D0011B;

        --color-grey-50: #F5F5F5;
        --color-grey-75: #F9F9F6;
        --color-grey-100: #EEEEEE;
        --color-grey-200: #E0E0E0;
        --color-grey-300: #BDBDBD;
        --color-grey-400: #9E9E9E;
        --color-grey-500: #757575;
        --color-grey-600: #616161;
        --color-grey-700: #424242;
        --color-grey-800: #343434;

        --color-primary: #000000;
        --color-secondary: #ffffff;
        --color-tertiary: #006D77;
        --color-accent: #83BEB7;

/* Transitions */

        --duration-short: 100ms;
        --duration-default: 200ms;
        --duration-long: 500ms;
        --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
        --custom-easing: cubic-bezier(.215,.61,.355,1);

/* Buttons */

        --button-padding-desktop: 0.5rem 1.5rem;
        --button-font-size-desktop: 1rem;

    /* Primary */

        --button-border-radius-primary: 1.875rem; /* 30px */

        --button-text-color-primary: #ffffff;
        --button-background-color-primary: #006D77;
        --button-border-color-primary: #006D77;

        --button-text-color-primary-hover: #ffffff;
        --button-background-color-primary-hover: #83BEB7;
        --button-border-color-primary-hover: #83BEB7;

        --button-text-color-primary-disabled: #424242;
        --button-background-color-primary-disabled: #BDBDBD;
        --button-border-color-primary-disabled: #BDBDBD;

    /* Secondary */

        --button-border-radius-secondary: 1.875rem; /* 30px */

        --button-text-color-secondary: #006D77;
        --button-background-color-secondary: #ffffff;
        --button-border-color-secondary: #006D77;

        --button-text-color-secondary-hover: #ffffff;
        --button-background-color-secondary-hover: #006D77;
        --button-border-color-secondary-hover: #006D77;

        --button-text-color-secondary-disabled: #757575;
        --button-background-color-secondary-disabled: #ffffff;
        --button-border-color-secondary-disabled: #757575;

    /* Tertiary */

        --button-border-radius-tertiary: 1.875rem; /* 30px */

        --button-text-color-tertiary: #ffffff;
        --button-background-color-tertiary: #459CE2;
        --button-border-color-tertiary: #459CE2;

        --button-text-color-tertiary-hover: #459CE2;
        --button-background-color-tertiary-hover: #ffffff;
        --button-border-color-tertiary-hover: #459CE2;

        --button-text-color-tertiary-disabled: #757575;
        --button-background-color-tertiary-disabled: #ffffff;
        --button-border-color-tertiary-disabled: #757575;

      }

    {% endstyle %}

    {{ 'colors.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'typography.css' | asset_url | stylesheet_tag }}
    {{ 'spacing.css' | asset_url | stylesheet_tag }}
    {{ 'buttons.css' | asset_url | stylesheet_tag }}
    {{ 'containers.css' | asset_url | stylesheet_tag }}
    {{ 'general-utilities.css' | asset_url | stylesheet_tag }}
    {{ 'icons.css' | asset_url | stylesheet_tag }}

    {% if request.path == '/a/ms/cart/' %}
      {{ 'multi-ship.css' | asset_url | stylesheet_tag }}
      {% render 'multi-ship' %}
    {% endif %}

    {% if request.path == '/apps/builder' %}
      {{ 'box-builder.css' | asset_url | stylesheet_tag }}
    {% endif %}

    <style>
      .icon-next-arrow,
      .icon-prev-arrow {
        visibility: hidden;
      }
    </style>

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
  </head>

  <body>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%- render 'cart-drawer' -%}

    {% section 'header' %}
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    {% unless template == 'page.contact' %}
      {% render 'modal' %}
    {% endunless %}
    {% render 'animations' %}

    <script type="module">
      const revealSwiperArrows = () => {
        const nextArrows = [...document.querySelectorAll('.icon-next-arrow')];
        const prevArrows = [...document.querySelectorAll('.icon-prev-arrow')];

        [...nextArrows, ...prevArrows].forEach((arrow) => {
          arrow.style.visibility = 'visible';
        });
      }

      revealSwiperArrows()
    </script>
  </body>
</html>