{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}

{%- assign builderId = '' -%} 
{%- assign prods = '' -%}
{%- assign collection = '' -%}
{%- assign bxpTheme = 'full' -%}
{%- assign pDisplay = 'product' -%}
{%- assign useLightbox = 'false' -%}
{%- assign showCarousel = 'false' -%}
{%- assign tagsOnly = 'false' -%}
{%- assign showQty = 'false' -%}
{%- assign preSelect = 'false' -%}
{%- assign colSize = '3' -%}
{%- assign pageLimit = 48 -%}
{%- assign pageQuerystring = pageUrl | split:'?' | last -%}
{%- assign parts = pageQuerystring | split:'&' -%}
{%- for part in parts -%}
	{%- assign keyAndValue = part | split:'=' -%}

	{%- if keyAndValue[0] == 'builder' -%}
		{%- assign builderId = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'products' -%}
		{%- assign prods = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'collection' -%}
		{%- assign collection = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'bxptheme' -%}
		{%- assign bxpTheme = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'display' -%}
		{%- assign pDisplay = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'cols' -%}
		{%- assign colSize = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'limit' and keyAndValue[0] != "" -%}
		{%- assign pageLimit = keyAndValue[1] | plus: 0 -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'lightbox' -%}
		{%- assign useLightbox = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'showCarousel' -%}
		{%- assign showCarousel = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'qty' -%}
		{%- assign showQty = keyAndValue[1] -%}
	{%- endif -%}
	{%- if keyAndValue[0] == 'pre' -%}
		{%- assign preSelect = keyAndValue[1] -%}
	{%- endif -%}
{%- endfor -%}

{% paginate collections[collection].products by pageLimit %}

  {%- if bxpTheme == 'full' -%}
      {%- if pDisplay == "product" -%}
        {%- capture productLayout -%}
          {%- for product in collections[collection].products -%}
            {% assign escapedTitle = product.title | escape %}
            {%- capture collectionList -%}
                {%- for c in product.collections -%}
                    {{ c.id }}{%- if forloop.last == false -%},{%- endif%}
                {%- endfor -%}
            {%- endcapture -%}
            {%- assign colls = collectionList | strip | strip_newlines | remove: " " -%}
            {%- if product.variants.size > 1 -%}
                <div class="bxp-bldr-col-md-{{ colSize }} bxp-filt-sort" data-tags="{{ product.tags | join: ',' | escape }}" data-type="{{ product.type }}" data-title="{{escapedTitle}}" data-collections="{{ colls }}" data-price="{{product.price | money_without_currency}}">
                    <div class="bxp-bldr-item">
                        <input data-weight="0.00" data-qty="1" data-price="0.00" data-label="{{escapedTitle}}" input="input_{{product.id}}" product-id="{{product.id}}" type="radio" name="" value="{{title}} {{variant.price}}" class="bxp-bldr-required" data-display="product"/>
                        <label>
                            <div class="bxp-qty-num"></div>
                            <div id="bxp-select_{{product.id}}_owl">
                                <div class="bxp-owl-carousel bxp-owl-theme">
                                    {% if showCarousel == 'true' %}
                                        {%- if useLightbox == 'false' -%}
                                            {%- for image in product.images -%}
                                                <div class="bxp-owl-item">
                                                    <img 
                                                        data-src="{{image.src | img_url: '300x'}}" 
                                                        alt="{{image.alt}}" 
                                                        class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                        data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                    />
                                                </div>
                                            {%- endfor -%}
                                        {%- else -%}
                                            {%- for image in product.images -%}
                                                <div class="bxp-owl-item">
                                                    <a image="{{image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                        <img 
                                                            data-src="{{image.src | img_url: '300x'}}" 
                                                            alt="{{image.alt}}" 
                                                            class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                            data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                        />
                                                    </a>
                                                </div>
                                            {%- endfor -%}
                                        {%- endif -%}
                                    {% else %}
                                        <div class="bxp-owl-item">
                                            <img 
                                                data-src="{{product.featured_image.src | img_url: '300x'}}" 
                                                alt="{{product.title}}" 
                                                class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                data-srcset="{{product.featured_image.src | img_url: '500x'}} 500w,{{product.featured_image.src | img_url: '700x'}} 700w,{{product.featured_image.src | img_url: '800x'}} 800w"
                                            />
                                        </div>
                                    {%- endif -%}
                                </div>
                            </div>
                            <div id="bxp-select_{{product.id}}_fig" class="bxp-sel-figure">
                                <img id="bxp-select_{{product.id}}_img" src="{{product.featured_image.src | img_url: '300x'}}" alt="{{escapedTitle}}" class="bxp-bldr-img-fluid"/>
                            </div>
                            {%- if showQty == 'true' -%}
                            <div class="bldr-dark-btn">
                                <span class="bxp-bldr-qty-down">-</span>
                                {% render 'product-bundle-atc', price: product.price | money %}
                                <span class="bxp-bldr-qty-up">+</span>
                            </div>
                            {%- else -%}
                            {% render 'product-bundle-atc', price: product.price | money %}
                            {%- endif -%}
                            <strong>{{product.title}}</strong>
                            <select class="bxp-bldr-form-control bxp-mt-10" img="{{product.featured_image.src | img_url: '300x'}}" name="bxp-select_{{product.id}}" id="bxp-select_{{product.id}}">
                                {%- if product.options.size > 1 -%}
                                    {%- assign label = "{{translate_select}}..." -%}
                                {%- else -%}
                                    {%- capture label -%}{{translate_choose}} {{product.options.first}}...{%- endcapture -%}
                                {%- endif -%}
                                <option value="">{{label}}</option>
                                {%- if product.images.size > 0 -%}
                                    {%- assign useImage = product.featured_image.src | img_url: '300x' -%}
                                {%- else -%}
                                    {%- assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' -%}
                                {%- endif -%}
                                {%- for variant in product.variants -%} 
                                    {% assign variantTitle = variant.title | downcase %} 
                                    {% if variantTitle contains "default title" %}
                                        {%- assign title = product.title | escape -%}
                                    {%- else -%}
                                        {%- assign title = product.title | append: " - " | append: variant.title | escape -%}
                                    {%- endif -%}
                                    {%- if variant.image.src -%}
                                        {%- assign useImage = variant.image.src | img_url: '300x' -%}
                                    {%- endif -%} 
                                    {%- if variant.available or variant.inventory_policy == 'continue' -%}
                                        {%- if variant.inventory_management == 'shopify' -%}
                                            {%- assign inventory = variant.inventory_quantity -%}
                                        {%- else -%}
                                            {%- assign inventory = 999999 -%}
                                        {%- endif -%}
                                        {% if variant.inventory_policy == 'continue' %}
                                            {%- assign inventory = 999999 -%}
                                        {%- endif -%}
                                    <option data-label="{{title}}" weight="{{ variant.weight| weight_with_unit }}" inventory="{{inventory}}" img="{{useImage}}" price="{{ variant.price | money_without_currency }}" value="{{variant.id}}">{{variant.title}} - {{variant.price | money}}</option>
                                    {%- else -%}
                                    <option disabled img="{{useImage}}" price="{{variant.price | money_without_currency}}" value="{{variant.id}}">{{translate_soldOut}} - {{variant.title}} - {{variant.price | money}}</option>
                                    {%- endif -%}
                                {%- endfor -%}
                            </select>
                            <button class="bxp-deselect">X</button>
                        </label>
                    </div>
                </div>
            {% else %}
                {% if product.images.size > 0 %}
                    {% assign useImage = product.featured_image.src %}
                    {% assign useMaster = product.featured_image.src | img_url: '800x' %}
                    {% assign useImageId = product.featured_image.id %}
                {% else %}
                    {% assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' %}
                    {% assign useMaster = 'https://builder-front.boxup.io/img/placeholder.png' %}
                {% endif %}
                {% assign variant = product.variants | first %}
                {% assign variantTitle = variant.title | downcase %} 
                {% if variantTitle contains "default title" %}
                    {%- assign title = product.title | escape -%}
                {%- else -%}
                    {%- assign title = product.title | append: " - " | append: variant.title | escape -%}
                {%- endif -%}
                {%- if variant.image.src -%}
                    {%- assign useImage = variant.image.src -%}
                    {%- assign useMaster = variant.image.src | img_url: '800x' -%}
                    {%- assign useImageId = variant.image.id -%}
                {%- endif -%} 
                {%- if variant.inventory_management == 'shopify' -%}
                    {%- assign inventory = variant.inventory_quantity -%}
                {%- else -%}
                    {%- assign inventory = 999999 -%}
                {%- endif -%}
                {% if variant.inventory_policy == 'continue' %}
                    {%- assign inventory = 999999 -%}
                {%- endif -%}

                <div class="bxp-bldr-col-md-{{ colSize }} bxp-filt-sort" data-tags="{{ product.tags | join: ',' | escape }}" data-type="{{ product.type }}" data-title="{{title}}" data-collections="{{ colls }}" data-price="{{product.price | money_without_currency}}">
                    <div class="bxp-bldr-item">
                        {%- if product.available -%}
                        <input data-weight="{{ variant.weight| weight_with_unit }}" inventory="{{inventory}}" data-qty="1" data-price="{{ variant.price | money_without_currency }}" data-label="{{title}}" product-id="{{variant.id}}" type="radio" value="{{title}} {{variant.price}}" class="bxp-bldr-required"/>
                        {%- endif -%}
                        <label for="{{variant.id}}">
                            <div class="bxp-qty-num"></div>
                            <div class="bxp-owl-carousel bxp-owl-theme">
                                <div class="bxp-owl-item">
                                    {%- if useLightbox == 'false' -%}
                                        <img 
                                            data-src="{{useImage | img_url: '300x' }}" 
                                            alt="{{title}}" 
                                            class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                            data-srcset="{{useImage | img_url: '500x'}} 500w,{{useImage | img_url: '700x'}} 700w,{{useImage | img_url: '800x'}} 800w"
                                        />
                                    {%- else -%}
                                        <a href="#" image="{{useMaster}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                            <img 
                                                data-src="{{ useImage | img_url: '300x' }}" 
                                                alt="{{title}}" 
                                                class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                data-srcset="{{useImage | img_url: '500x'}} 500w,{{useImage | img_url: '700x'}} 700w,{{useImage | img_url: '800x'}} 800w"
                                            />
                                        </a>
                                    {%- endif -%}
                                </div>
                                {% if showCarousel == 'true' %}
                                    {%- for image in product.images -%}
                                        {%- if useImageId != image.id -%}
                                            <div class="bxp-owl-item">
                                                {%- if useLightbox == 'false' -%}
                                                <img 
                                                    data-src="{{image.src | img_url: '300x'}}" 
                                                    alt="{{image.alt}}" 
                                                    class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                    data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                />
                                                {%- else -%}
                                                    <a image="{{image.src | img_url: '800x'}}">
                                                        <img 
                                                            data-src="{{image.src | img_url: '300x'}}" 
                                                            alt="{{image.alt}}" 
                                                            class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                            data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                        />
                                                    </a>
                                                {%- endif -%}
                                            </div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                {%- endif -%}
                            </div>
                            {%- if variant.available or variant.inventory_policy == 'continue' -%}
                                {%- if showQty == 'true' -%}
                                <div class="bldr-dark-btn">
                                    <span class="bxp-bldr-qty-down">-</span>
                                    {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                    <span class="bxp-bldr-qty-up">+</span>
                                </div>
                                {%- else -%}
                                    {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                {%- endif -%}
                            {%- else -%}
                                <span class="bxp-bldr-sold_out">{{translate_soldOut}}</span>
                            {%- endif -%}
                            <strong>{{title}}</strong>
                        </label>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
        {%- endcapture -%}
      {%- else -%}
        {%- capture productLayout -%}
          {%- for product in collections[collection].products -%}
                {% capture collectionList %}
                    {% for c in product.collections %}
                        {{ c.id }}{% if forloop.last == false %},{% endif%}
                    {% endfor %}
                {% endcapture %}
                {% assign colls = collectionList | strip | strip_newlines | remove: " " %}
              {%- for variant in product.variants -%}
                    {% assign variantTitle = variant.title | downcase %} 
                {% if variantTitle contains "default title" %}
                    {% assign title = product.title | escape %}
                {% else %}
                    {% assign title = product.title | append: " - " | append: variant.title | escape %}
                {% endif %}
                {% assign image = variant.image.src %}
                {% if image %}
                    {% assign useImage = variant.image.src %}
                    {% assign useMaster = variant.image.src | img_url: '800x' %}
                    {% assign useImageId = variant.image.id %}
                {% else %}
                    {% if product.images.size > 0 %}
                        {% assign useImage = product.featured_image.src %}
                        {% assign useMaster = product.featured_image.src | img_url: '800x' %}
                        {% assign useImageId = product.featured_image.id %}
                    {% else %}
                        {% assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' %}
                        {% assign useMaster = 'https://builder-front.boxup.io/img/placeholder.png' %}
                    {% endif %}
                {% endif %} 
                {% if variant.inventory_management == 'shopify' %}
                    {% assign inventory = variant.inventory_quantity %}
                {% else %}
                    {% assign inventory = 999999 %}
                {% endif %}
                {% if variant.inventory_policy == 'continue' %}
                    {%- assign inventory = 999999 -%}
                {%- endif -%}
                  <div class="bxp-bldr-col-md-{{colSize}} bxp-filt-sort" data-hide="{{productHideIf}}" data-tags="{{ product.tags | join: ',' | escape }}" data-type="{{ product.type }}" data-title="{{title}}" data-collections="{{colls}}" data-price="{{product.price | money_without_currency}}">
                    <div class="bxp-bldr-item">
                      {% if variant.available or variant.inventory_policy == 'continue' %}
                      <input data-pre="{{preSelect}}" data-weight="{{ variant.weight| weight_with_unit }}" data-inventory="{{inventory}}" data-qty="{{qty}}" data-price="{{ variant.price | money_without_currency }}" data-label="{{title}}" product-id="{{variant.id}}" type="radio" value="{{title}} {{variant.price}}" class="bxp-bldr-required"/>
                      {% endif %}
                      <label for="{{variant.id}}">
                        <div class="bxp-qty-num"></div>
                        <div class="bxp-owl-carousel bxp-owl-theme">
                          <div class="bxp-owl-item">
                            {% if useLightbox == 'false' %}
                            <img 
                                 data-src="{{useImage | img_url: '300x'}}" 
                                 alt="{{title}}" 
                                 class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                 data-srcset="{{useImage | img_url: '500x'}} 500w,{{useImage | img_url: '700x'}} 700w,{{useImage | img_url: '800x'}} 800w"
                                 />
                            {% else %}
                            <div class="bxp-overlay-icon"><span class='bxp-icon'></span></div>
                            <a href="#" image="{{useMaster}}" title-strip="{{ product.description | strip_html | escape }}" title-desc="{{ product.description | escape }}">
                              <img 
                                   data-src="{{useImage | img_url: '300x'}}" 
                                   alt="{{title}}" 
                                   class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                   data-srcset="{{useImage | img_url: '500x'}} 500w,{{useImage | img_url: '700x'}} 700w,{{useImage | img_url: '800x'}} 800w"
                                   />
                            </a>
                            {% endif %}
                          </div>
                          {% if showCarousel == 'true' %}
                          {%- for image in product.images -%}
                          {% if useImageId != image.id %}
                          <div class="bxp-owl-item">
                            {% if useLightbox == 'false' %}
                            <img 
                                 data-src="{{image.src | img_url: '300x'}}" 
                                 alt="{{image.alt}}" 
                                 class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                 data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                 />
                            {% else %}
                            <div class="bxp-overlay-icon"><span class='bxp-icon'></span></div>
                            <a href="#" image="{{image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                              <img 
                                   data-src="{{image.src | img_url: '300x'}}" 
                                   alt="{{image.alt}}" 
                                   class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                   data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                   />
                            </a>
                            {% endif %}
                          </div>
                          {% endif %}
                          {%- endfor -%}
                          {% endif %}
                        </div>
                        {% if variant.available %}
                        {% if showQty == 'true' %}
                        <div class="bldr-dark-btn">
                          <span class="bxp-bldr-qty-down">-</span>
                          {% assign variantPrice = variant.price | money %}
                          {% render 'product-bundle-atc', price: variantPrice %}
                          <span class="bxp-bldr-qty-up">+</span>
                        </div>
                        {% else %}
                        {% assign variantPrice = variant.price | money %}
                        {% render 'product-bundle-atc', price: variantPrice %}
                        {% endif %}
                        {% else %}
                        <span class="bxp-bldr-sold_out">{{translate_soldOut}}</span>
                        {% endif %}
                        <strong>{{title}}</strong>
                      </label>
                    </div>
                  </div>
              {%- endfor -%}
          {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
  {%- else -%}
      {%- if pDisplay == "product" -%}
        {%- capture productLayout -%}
			{%- for product in collections[collection].products -%}
				{% capture collectionList %}
                    {% for c in product.collections %}
                        {{ c.id }}{% if forloop.last == false %},{% endif%}
                    {% endfor %}
                {% endcapture %}

                {% assign colls = collectionList | strip | strip_newlines | remove: " " %}
                {% if product.variants.size > 1 %}
                    <div class="bxp-bldr-item bxp-filt-sort" data-tags="{{ product.tags | join: ',' }}" data-type="{{ product.type }}" data-title="{{product.title}}" data-collections="{{colls}}" data-price="{{product.price | money_without_currency}}">
                        <input data-weight="0.00" data-qty="1" data-price="0.00" data-label="{{product.title}}" input="input_{{product.id}}" product-id="{{product.id}}" type="radio" name="" value="{{title}} {{variant.price}}" class="bxp-bldr-required" data-display="product"/>
                        <label>
                            <div class="bxp-qty-num"></div>
                            <figure id="bxp-select_{{product.id}}_owl">
                                <div class="bxp-owl-carousel bxp-owl-theme">
                                    {% if showCarousel == 'true' %}
                                        {%- for image in product.images -%}
                                            <div class="bxp-owl-item">
                                                {% if useLightbox == 'false' %}
                                                    <img 
                                                        data-src="{{image.src | img_url: '300x'}}" 
                                                        alt="{{image.alt}}" 
                                                        class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                        data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                    />
                                                {% else %}
                                                    <a href="#" image="{{image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                        <img 
                                                            data-src="{{image.src | img_url: '300x'}}" 
                                                            alt="{{image.alt}}" 
                                                            class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                            data-srcset="{{image.src | img_url: '500x'}} 500w,{{image.src | img_url: '700x'}} 700w,{{image.src | img_url: '800x'}} 800w"
                                                        />
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {%- endfor -%}
                                    {% else %}
                                    <div class="bxp-owl-item">
                                        {% if useLightbox == 'false' %}
                                            <img 
                                                data-src="{{product.featured_image.src | img_url: '300x'}}" 
                                                alt="{{product.title}}" 
                                                class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                data-srcset="{{product.featured_image.src | img_url: '500x'}} 500w,{{product.featured_image.src | img_url: '700x'}} 700w,{{product.featured_image.src | img_url: '800x'}} 800w"
                                            />
                                        {% else %}
                                            <a image="{{product.featured_image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                <img 
                                                    data-src="{{product.featured_image.src | img_url: '300x'}}" 
                                                    alt="{{product.title}}" 
                                                    class="bxp-bldr-img-fluid owl-lazy bxp-lazyload"
                                                    data-srcset="{{product.featured_image.src | img_url: '500x'}} 500w,{{product.featured_image.src | img_url: '700x'}} 700w,{{product.featured_image.src | img_url: '800x'}} 800w"
                                                />
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </figure>
                            <figure id="bxp-select_{{product.id}}_fig" class="bxp-sel-figure">
                                <img id="bxp-select_{{product.id}}_img" src="{{product.featured_image.src | img_url: '300x'}}" alt="{{product.title}}" class="bxp-bldr-img-fluid"/>
                            </figure>
                            {% if showQty == 'true' %}
                            <div class="bldr-dark-btn">
                                <span class="bxp-bldr-qty-down">-</span>
                                {% render 'product-bundle-atc', price: product.price | money %}
                                <span class="bxp-bldr-qty-up">+</span>
                            </div>
                            {% else %}
                                {% render 'product-bundle-atc', price: product.price | money %}
                            {% endif %}
                            <strong>{{product.title}}</strong>
                            {% assign pDesc = product.description | strip_html | truncatewords: 28 %}
                            <span id="less_{{product.id}}">{{ pDesc }} {% if pDesc contains '...' %}<a class="bxp-read-more" href="#this" onclick="bxpReadMore('{{product.id}}');">{{translate_readMore}}</a>{% endif %}</span>
                            <span id="more_{{product.id}}" class="bxp-hide-desc">{{product.description | strip_html }}</span>
                            <select class="bxp-bldr-form-control" img="{{product.featured_image.src | img_url: '300x'}}" name="bxp-select_{{product.id}}" id="bxp-select_{{product.id}}">
                                {% if product.options.size > 1 %}
                                    {% assign label = "{{translate_select}}..."  %}
                                {% else %}
                                    {% assign label = "{{translate_choose}} " | append: product.options.first | append: "..." %}
                                {% endif %}
                                <option value="">{{label}}</option>
                                {% if product.images.size > 0 %}
                                    {% assign useImage = product.featured_image.src | img_url: '300x' %}
                                {% else %}
                                    {% assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' %}
                                {% endif %}
                                {%- for variant in product.variants -%}  
                                    {% assign variantTitle = variant.title | downcase %} 
                                    {% if variantTitle contains "default title" %}
                                        {% assign title = product.title %}
                                    {% else %}
                                        {% assign title = product.title | append: " - " | append: variant.title %}
                                    {% endif %}
                                    {% if variant.image.src %}
                                        {% assign useImage = variant.image.src | img_url: '300x' %}
                                    {% endif %} 
                                    {% if variant.available or variant.inventory_policy == 'continue' %}
                                        {% if variant.inventory_management == 'shopify' %}
                                            {% assign inventory = variant.inventory_quantity %}
                                        {% else %}
                                            {% assign inventory = 999999 %}
                                        {% endif %}
                                        {% if variant.inventory_policy == 'continue' %}
                                            {%- assign inventory = 999999 -%}
                                        {%- endif -%}
                                    <option data-label="{{title}}" weight="{{ variant.weight| weight_with_unit }}" inventory="{{inventory}}" img="{{useImage}}" price="{{ variant.price | money_without_currency }}" value="{{variant.id}}">{{variant.title}} - {{variant.price | money}}</option>
                                    {% else %}
                                    <option disabled img="{{useImage}}" price="{{variant.price | money_without_currency}}" value="{{variant.id}}">{{translate_soldOut}} - {{variant.title}} - {{variant.price | money}}</option>
                                    {% endif %}
                                {%- endfor -%}
                            </select>
                            <button class="bxp-deselect">X</button>
                        </label>
                    </div> 
                {% else %}
                    {% if product.images.size > 0 %}
                        {% assign useImage = product.featured_image.src | img_url: '300x' %}
                        {% assign useMaster = product.featured_image.src | img_url: '800x' %}
                        {% assign useImageId = product.featured_image.id %}
                    {% else %}
                        {% assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' %}
                        {% assign useMaster = 'https://builder-front.boxup.io/img/placeholder.png' %}
                    {% endif %}
                    {% assign variant = product.variants | first %}
                    {% assign variantTitle = variant.title | downcase %} 
                    {% if variantTitle contains "default title" %}
                        {% assign title = product.title %}
                    {% else %}
                        {% assign title = product.title | append: " - " | append: variant.title %}
                    {% endif %}
                    {% if variant.image.src %}
                        {% assign useImage = variant.image.src | img_url: '300x' %}
                        {% assign useMaster = variant.image.src | img_url: '800x' %}
                        {% assign useImageId = variant.image.id %}
                    {% endif %} 
                    {% if variant.inventory_management == 'shopify' %}
                        {% assign inventory = variant.inventory_quantity %}
                    {% else %}
                        {% assign inventory = 999999 %}
                    {% endif %}
                    {% if variant.inventory_policy == 'continue' %}
                        {%- assign inventory = 999999 -%}
                    {%- endif -%}
                    <div class="bxp-bldr-item bxp-filt-sort" data-tags="{{ product.tags | join: ',' }}" data-type="{{ product.type }}" data-title="{{title}}" data-collections="{{colls}}" data-price="{{product.price | money_without_currency}}">
                        {% if variant.available or variant.inventory_policy == 'continue' %}
                            <input data-weight="{{ variant.weight| weight_with_unit }}" data-inventory="{{inventory}}" data-qty="1" data-price="{{ variant.price | money_without_currency }}" data-label="{{title}}" product-id="{{variant.id}}" type="radio" name="" value="{{title}} {{variant.price}}" class="bxp-bldr-required"/>
                        {% endif %}
                        <label for="{{variant.id}}">
                            <div class="bxp-qty-num"></div>
                            <figure>
                                <div class="bxp-owl-carousel bxp-owl-theme">
                                    <div class="bxp-owl-item">
                                        {% if useLightbox == 'false' %}
                                            <img data-src="{{useImage}}" alt="{{title}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                        {% else %}
                                            <a href="#" image="{{useMaster}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                <img data-src="{{useImage}}" alt="{{title}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {%- for image in product.images -%}
                                        {% if useImageId != image.id %}
                                            <div class="bxp-owl-item">
                                                {% if useLightbox == 'false' %}
                                                    <img data-src="{{image.src | img_url: '300x'}}" alt="{{image.alt}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                                {% else %}
                                                    <a href="#" image="{{image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                        <img src="{{image.src | img_url: '300x'}}" alt="{{image.alt}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {%- endfor -%}
                                </div>
                            </figure>
                            {% if variant.available %}
                                {% if showQty == 'true' %}
                                <div class="bldr-dark-btn">
                                    <span class="bxp-bldr-qty-down">-</span>
                                    {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                    <span class="bxp-bldr-qty-up">+</span>
                                </div>
                                {% else %}
                                {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                {% endif %}
                            {% else %}
                                <span class="bxp-bldr-sold_out">{{translate_soldOut}}</span>
                            {% endif %}
                            <strong>{{title}}</strong>
                            {% assign pDesc = product.description | strip_html | truncatewords: 28 %}
                            <span id="less_{{product.id}}">{{ pDesc }} {% if pDesc contains '...' %}<a class="bxp-read-more" href="#this" onclick="bxpReadMore('{{product.id}}');">{{translate_readMore}}</a>{% endif %}</span>
                            <span id="more_{{product.id}}" class="bxp-hide-desc">{{product.description | strip_html }}</span>
                        </label>
                    </div>
                {% endif %}
			{%- endfor -%}
        {%- endcapture -%}
      {%- else -%}
        {%- capture productLayout -%}
			{%- for product in collections[collection].products -%}
				{% capture collectionList %}
                    {% for c in product.collections %}
                        {{ c.id }}{% if forloop.last == false %},{% endif%}
                    {% endfor %}
                {% endcapture %}
                {% assign colls = collectionList | strip | strip_newlines | remove: " " %}

                {%- for variant in product.variants -%}  

                    {% assign variantTitle = variant.title | downcase %} 
                    {% if variantTitle contains "default title" %}
                        {% assign title = product.title %}
                    {% else %}
                        {% assign title = product.title | append: " - " | append: variant.title %}
                    {% endif %}
                    {% assign image = variant.image.src %}
                    {% if image %}
                        {% assign useImage = variant.image.src | img_url: '300x' %}
                        {% assign useMaster = variant.image.src | img_url: '800x' %}
                        {% assign useImageId = variant.image.id %}
                    {% else %}
                        {% if product.images.size > 0 %}
                            {% assign useImage = product.featured_image.src | img_url: '300x' %}
                            {% assign useMaster = product.featured_image.src | img_url: '800x' %}
                            {% assign useImageId = product.featured_image.id %}
                        {% else %}
                            {% assign useImage = 'https://builder-front.boxup.io/img/placeholder.png' %}
                            {% assign useMaster = 'https://builder-front.boxup.io/img/placeholder.png' %}
                        {% endif %}
                    {% endif %} 
                    {% if variant.inventory_management == 'shopify' %}
                        {% assign inventory = variant.inventory_quantity %}
                    {% else %}
                        {% assign inventory = 999999 %}
                    {% endif %}
                    {% if variant.inventory_policy == 'continue' %}
                        {%- assign inventory = 999999 -%}
                    {%- endif -%}
                    <div class="bxp-bldr-item bxp-filt-sort" data-tags="{{ product.tags | join: ',' }}" data-type="{{ product.type }}" data-title="{{title}}" data-collections="{{colls}}" data-price="{{product.price | money_without_currency}}">
                        {% if variant.available or variant.inventory_policy == 'continue' %}
                            <input data-pre="{{preSelect}}" data-weight="{{ variant.weight| weight_with_unit }}" data-inventory="{{inventory}}" data-qty="{{qty}}" data-price="{{ variant.price | money_without_currency }}" data-label="{{title}}" product-id="{{variant.id}}" type="radio" name="" value="{{title}} {{variant.price}}" class="bxp-bldr-required"/>
                        {% endif %}
                        <label for="{{variant.id}}">
                            <div class="bxp-qty-num"></div>
                            <figure>
                                <div class="bxp-owl-carousel bxp-owl-theme">
                                    <div class="bxp-owl-item">
                                        {% if useLightbox == 'false' %}
                                            <img data-src="{{useImage}}" alt="{{title}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                        {% else %}
                                            <a href="#" image="{{useMaster}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                <img data-src="{{useImage}}" alt="{{title}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                    {% if showCarousel == 'true' %}
                                        {%- for image in product.images -%}
                                            {% if useImageId != image.id %}
                                                <div class="bxp-owl-item">
                                                    {% if useLightbox == 'false' %}
                                                        <img data-src="{{image.src | img_url: '300x'}}" alt="{{image.alt}}" class="bxp-bldr-img-fluid owl-lazy"/> 
                                                    {% else %}
                                                        <a href="#" image="{{image.src | img_url: '800x'}}" title-strip="{{ product.description | strip_html }}" title-desc="{{ product.description | escape }}">
                                                            <img data-src="{{image.src | img_url: '300x'}}" alt="{{image.alt}}" class="bxp-bldr-img-fluid owl-lazy"/>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {%- endfor -%}
                                    {% endif %}
                                </div>
                            </figure>
                            {% if variant.available %}
                                {% if showQty == 'true' %}
                                <div class="bldr-dark-btn">
                                    <span class="bxp-bldr-qty-down">-</span>
                                    {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                    <span class="bxp-bldr-qty-up">+</span>
                                </div>
                                {% else %}
                                {% assign variantPrice = variant.price | money %}
                                    {% render 'product-bundle-atc', price: variantPrice %}
                                {% endif %}
                            {% else %}
                            <span class="bxp-bldr-sold_out">{{translate_soldOut}}</span>
                            {% endif %}
                            <strong>{{title}}</strong>
                            {% assign pDesc = product.description | strip_html | truncatewords: 28 %}
                            <span id="less_{{variant.id}}">{{ pDesc }} {% if pDesc contains '...' %}<a class="bxp-read-more" href="#this" onclick="bxpReadMore('{{variant.id}}');">{{translate_readMore}}</a>{% endif %}</span>
                            <span id="more_{{variant.id}}" class="bxp-hide-desc">{{product.description | strip_html }}</span>
                        </label>
                    </div>
                {% endfor %}
			{%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
  {%- endif -%}

{%- endpaginate -%}

{{productLayout}}

<style>
    .bxp-overlay-icon {
        display: none;
    }
    .bxp-deselect {
        width: 30px;
        height: 30px;
        margin-top: 23px;
        border-radius: 30px;
    }
    .bxp-qty-num {
        box-shadow: unset;
        font-size: 18px;
        padding: 5px 10px 2px;
        margin: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 100px;
        background: var(--color-tertiary);
    }
    .bxp-bldr-item input[type=checkbox]:not(old):checked+label:before, .bxp-bldr-item input[type=radio]:not(old):checked+label:before, .bxp-bldr-item input[type=checkbox]:not(old):checked+span+label:before, .bxp-bldr-item input[type=radio]:not(old):checked+span+label:before {
        color: var(--color-accent);
    }
    a#bxp-bldr-details_bt:before {
        color: var(--color-accent);
    }
    .bxp-thumbnail-remove {
        top: 0px;
        right: 0px;
        position: absolute;
        background: var(--color-red);
        font-size: 12px;
        padding: 0;
        color: white;
        cursor: pointer;
        border-radius: 30px;
        height: 20px;
        width: 20px;
    }
    .bxp-bldr-row.bxp-step-box.bxp-flex {
        margin-bottom: 2rem;
        border-radius: 24px;
    }
    .bxp-reset {
        right: 20px;
        margin-top: 0px;
        border-radius: 10px;
        background: var(--color-tertiary);
        z-index: 1;
    }
    
    @media only screen and (max-width: 500px) {
        .bxp-bldr-col-lg-8 {
            padding: 0;
        }
    }
    .bxp-step-box-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .bxp-thumbnail-qty {
        top: 0px;
        left: 0px;
        position: absolute;
        background: var(--color-tertiary);
        font-size: 10px;
        padding: 0;
        color: white;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        padding: 4px 2px 0px;
    }
    .bxp-bldr-qty-down,
    .bxp-bldr-qty-up {
        background: transparent;
        margin: 0;
        border-radius: 0;
        width: auto;
        height: auto;
        box-sizing: border-box;
        padding: 0;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 24px;
        box-shadow: unset;
    }
    .bxp-bldr-form-control.bxp-mt-10 {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid var(--color-grey-200);
        border-radius: 6px;
        height: 48px;
    }
    .bxp-bldr-wizard-header {
        font-size: var(--font-h1-size-desktop) !important;
        line-height: 1 !important;
        font-weight: 500 !important;
        margin-top: 6rem !important;
        margin-bottom: 2rem !important;
    }
    @media screen and (max-width: 990px) {
        .bxp-bldr-wizard-header {
            font-size: var(--font-h1-size-tablet) !important;
        }
    }
    .bxp-bldr-item_price.button {
        background-color: var(--color-tertiary) !important;
        width: 100%;
        box-sizing: border-box;
        max-width: 10rem;
    }
    .bxp-bldr-item_price.button > span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.38rem;
    }
    .bxp-bldr-add-text {
        margin-right: 0.25rem;
    }
    .bxp-bldr-question_title {
        margin-bottom: 5.5rem;
        text-align: left;
        max-width: 48.4375rem;
    }
    .bxp-styled-select,
    .bxp-bldr-form-control {
        border: 0;
        margin: 0;
        padding: 0;
        position: relative;
    }
    
    input.bxp-bldr-form-control, select.bxp-bldr-form-control, textarea.bxp-bldr-form-control {
        color: var(--color-grey-500);
    }
    .bxp-bldr-form-control.bxp-filter-title {
        border-radius: 6px;
        color: var(--color-grey-500);
        border: 1px solid var(--color-grey-200);
    }
    .bxp-styled-select:before,
    .bxp-styled-select:after {
        content: '';
        height: 6px;
        width: 1.5px;
        position: absolute;
        z-index: 1;
        background-color: var(--color-grey-500);
        top: 19px;
    }
    .bxp-styled-select:before {
        transform: rotate(45deg);
        right: 32px;
    }
    
    .bxp-styled-select:after {
        transform: rotate(-45deg);
        right: 35px;
      }
    .bxp-bldr-form-control.bxp-filter-title {
        box-sizing: border-box;
    }
    .bxp-bldr-col-md-3,
    .bxp-bldr-col-md-4 {
        flex: 0 0 calc(33.333333% - 0.6666666667rem);
        max-width: calc(33.333333% - 0.6666666667rem);
        padding: 0;
    }
    .bxp-bldr-col-md-6 {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        padding: 0;
    }
    .bxp-bldr-row.bxp-bldr-justify-content-center {
        margin-bottom: 2rem;
    }
    .bxp-bldr-col-md-4.bxp-bldr-col-lg-3.bxp-mt-15 {
        flex: 0 0 calc(25% - 0.75rem);
        max-width: calc(25% - 0.75rem);
        padding: 0;
        margin: 0;
    }
    @media screen and (max-width: 990px) { 
        .bxp-bldr-wizard-header {
            font-size: var(--font-h1-size-mobile) !important;
            line-height: 1 !important;
            font-weight: 500 !important;
            margin-top: 3rem !important;
            margin-bottom: 1rem !important;
        }
        .bxp-bldr-form-control {
            padding: 0;
        }
        
        .bxp-bldr-question_title {
            margin-bottom: 2.5rem;
        }
        .bxp-bldr-col-md-4.bxp-bldr-col-lg-3.bxp-mt-15 {
            flex: 100%;
            max-width: 100%;
        }
        .bxp-bldr-row.bxp-bldr-justify-content-center:not(.bxp-step-content) {
            flex-direction: column;
            gap: 0;
        }
        .bxp-bldr-col-md-3,
        .bxp-bldr-col-md-4 {
            flex: 0 0 calc(50% - 1rem);
            max-width: calc(50% - 1rem);
            padding: 0;
        }    
      }
    .bxp-bldr-container {
        width: 100% !important;
        max-width: var(--width-large-desktop) !important;
        margin-right: auto !important;
        margin-left: auto !important;
        padding: 0 var(--padding-large-desktop);
        box-sizing: border-box;
    }
    @media screen and (max-width: 1680px) {   
        .bxp-bldr-containerr {
          max-width: var(--width-desktop) !important;
          padding: 0 var(--padding-desktop);
        }
      }
      
      @media screen and (max-width: 990px) {   
        .bxp-bldr-container {
          max-width: var(--width-tablet) !important;
          padding: 0 var(--padding-tablet);
        }
      }
      
      @media screen and (max-width: 767px) {   
        .bxp-bldr-container {
          max-width: var(--width-tablet) !important;
          padding: 0 var(--padding-tablet);
        }
      }  
      @media screen and (max-width: 600px) {   
        .bxp-bldr-col-md-3,
        .bxp-bldr-col-md-4,
        .bxp-bldr-col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0;
        } 
      } 
    .bxp-bldr-row {
        margin: 0;
        width: 100%;
        gap: 1rem;
    }
    .bxp-bldr-item label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 0;
        border: unset !important;
        box-shadow: none !important;
        margin-bottom: 1rem;
    }
    .bxp-bldr-item label .bxp-owl-carousel {
        order: 1;
        border-radius: 24px;
        {% comment %} background-color: var(--color-grey-75);    {% endcomment %}
        border: 1px solid var(--color-grey-200);
    }
    .bxp-bldr-item label img {
        min-height: 300px;
        max-height: 450px;
        height: 30vw;
        margin: 0;
        padding: 2rem;
        box-sizing: border-box;
    }
    .bxp-bldr-item {
        margin-top: 0;
    }
    .bxp-bldr-item > label .bxp-bldr-item_price {
        order: 3;
        margin-top: 1rem;
    }
    .bxp-bldr-form-control {
        font-size: 0.875rem !important;
    }
    .bxp-owl-dots {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .bxp-bldr-item label strong {
        order: 2;
        margin-top: 1rem;
        text-align: left;
    }
    .bxp-bldr-item label .bldr-dark-btn {
        order: 3;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 0.5rem;
    }
    .bxp-bldr-item label .bxp-bldr-item_price {
        margin-bottom: 0;
    }
    .bxp-bldr-col-md-3 .bxp-bldr-item_price {
        margin-top: 0 !important;
    }
    {% comment %} Sticky Banner {% endcomment %}
    #bxp-bldr-price_total h3,
    #bxp-bldr-price_total span {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 0;
        text-transform: capitalize;
        color: var(--color-black);
    }
    button.bxp-bldr-forward,
    #bxp-cart-toast,
    .bxp-bldr-add,
    #bxp-complete {
        background: var(--color-tertiary) !important;
        color: var(--color-white) !important;
        border-radius: 30px;
        padding: 5px 15px 5px 15px;
        height: 40px;
    }
    .bxp-bldr-backward {
        margin-right: 1rem;
        border-radius: 30px;
        padding: 5px 15px 5px 15px;
        height: 40px;
    }
    #bxp-cart-toast {
        background: var(--color-mar-10);
        color: var(--color-mar-100);
    }
    button.bxp-bldr-forward:before {
        display: none;
    }
    .bxp-modal__container {
        background: var(--color-white);
        border-radius: 24px;
        padding: 2rem;
        border: 1px solid var(--color-grey-100);
    }
    #bxp-prod-info-content {
        margin-bottom: 2rem;
        color: var(--color-grey-500);
    }
    .bxp-modal__title {
        margin-bottom: 1rem;
        color: var(--color-grey-800);
    }
  </style>