{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'form.css' | asset_url | stylesheet_tag }}

<div class="contact-form-body">
  {% form 'contact', class: 'form' %}

    <div class="form input-container width-control">
      <input type="hidden" name="contact[tags]" value="corporate-account-inquiry">
    
      <div class="field-wrapper margin-bottom margin-medium">

        {% 
          render 'input', 
          label: section.settings.contact_form_input_name_label,
          placeholder: section.settings.contact_form_input_name_placeholder,
          name: 'name',
          type: 'text',
          required: true,
          value: form.name,
        %}

        {% 
          render 'input', 
          label: section.settings.contact_form_input_email_label,
          placeholder: section.settings.contact_form_input_email_placeholder,
          name: 'email',
          type: 'email',
          required: true,
          value: form.email,
        %}

        {% 
          render 'input', 
          label: section.settings.contact_form_input_message_label,
          placeholder: section.settings.contact_form_input_message_placeholder,
          name: 'phone',
          type: 'tel',
          required: true,
          value: form.phone,
        %}

        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-reason">{{ settings.corporate_contact_form_input_boxes_label }}</label>
          <div class="select">
            <select
              id="ContactForm-reason"
              name="contact[reason]"
            >
              <option>Need help completing a purchase</option>
              <option>Submit my products</option>
              <option>Open a corporate account</option>
              <option>Order support</option>
              <option>Billing support</option>
              <option>Press</option>
              <option>General</option>
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>

        <div class="field-group">
          <label class="text-size-tiny uppercase" for="ContactForm-body">{{ section.settings.contact_form_input_message_label }}</label>
          
          <textarea
            required
            rows="3"
            id="ContactForm-body"
            class="text-area field_input"
            name="contact[body]"
            placeholder="{{ section.settings.contact_form_input_message_placeholder }}"
          >
            {{- form.body -}}
          </textarea>
        </div>

      </div>

      <button type="submit" class="button contact-submit-button" name="commit" id="Subscribe" aria-label="{{ 'contact.button_label' | t }}">
        <span>{{ section.settings.contact_form_cta_text }}</span>
      </button>
    </div>

    {%- if form.errors -%}
      <small class="text-size-tiny text-color-grey-500 contact-form__message form__message margin-top margin-small" id="Contact-error--{{ id }}">
        {% render 'icon-error' %}
        {{ form.errors.translated_fields['email'] | capitalize }} 
        {{ form.errors.messages['email'] }}
      </small>
    {%- endif -%}

    {%- if form.posted_successfully? -%}

      <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;" class="text-align-center">
        <h3 class="text-size-tiny text-color-grey-500 form__message" id="Contact-success--{{ id }}" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ section.settings.contact_form_success_message }}
        </h3>
      </div>
    {%- endif -%}
    
  {% endform %}

  {% if section.settings.image != blank %}
    <div class="contact_image">
      {{ section.settings.image | image_url: width: 800 | image_tag:
        loading: 'lazy',
        widths: '550, 720, 990, 1100, 1500, 2200, 3000'
      }}
    </div>
  {% endif %}
</div>

<style>
  .form .field-wrapper {
    flex-wrap: wrap;
  }

  .form .field-wrapper > * {
    width: 100%;
  }
</style>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Form Settings"
    },
    {
      "type": "text",
      "id": "contact_form_input_name_label",
      "label": "Input Name Label"
    },
    {
      "type": "text",
      "id": "contact_form_input_name_placeholder",
      "label": "Input Name Placeholder"
    },
    {
      "type": "text",
      "id": "contact_form_input_email_label",
      "label": "Input Email Label"
    },
    {
      "type": "text",
      "id": "contact_form_input_email_placeholder",
      "label": "Input Email Placeholder"
    },
    {
      "type": "text",
      "id": "contact_form_input_message_label",
      "label": "Input Message Label"
    },
    {
      "type": "text",
      "id": "contact_form_input_message_placeholder",
      "label": "Input Message Placeholder"
    },
    {
      "type": "text",
      "id": "contact_form_cta_text",
      "label": "Submit CTA Text"
    },
    {
      "type": "text",
      "id": "contact_form_success_message",
      "label": "Success Message"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
