{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}


<footer class="footer container margin-vertical margin-medium">

  <div class="footer-items margin-bottom margin-xlarge padding-top padding-xlarge">
    <div class="footer_details">
      {% if section.settings.image != blank %}
        <img class="footer-logo margin-bottom margin-medium" src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
      {% endif %}
  
      <ul class="footer-socials" role="list">
        {%- if settings.social_twitter_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_twitter_link }}" class="footer-socials_item--link" >
              {%- render 'icon-twitter' -%}
              <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_linkedin_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_linkedin_link }}" class="footer-socials_item--link" >
              {%- render 'icon-linkedin' -%}
              <span class="visually-hidden">Linkedin</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_facebook_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_facebook_link }}" class="footer-socials_item--link" >
              {%- render 'icon-facebook' -%}
              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_pinterest_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_pinterest_link }}" class="footer-socials_item--link" >
              {%- render 'icon-pinterest' -%}
              <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_instagram_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_instagram_link }}" class="footer-socials_item--link" >
              {%- render 'icon-instagram' -%}
              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_tiktok_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_tiktok_link }}" class="footer-socials_item--link" >
              {%- render 'icon-tiktok' -%}
              <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_tumblr_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_tumblr_link }}" class="footer-socials_item--link" >
              {%- render 'icon-tumblr' -%}
              <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_snapchat_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_snapchat_link }}" class="footer-socials_item--link" >
              {%- render 'icon-snapchat' -%}
              <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_youtube_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_youtube_link }}" class="footer-socials_item--link" >
              {%- render 'icon-youtube' -%}
              <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {%- if settings.social_vimeo_link != blank -%}
          <li class="footer-socials_item">
            <a target="_blank" href="{{ settings.social_vimeo_link }}" class="footer-socials_item--link" >
              {%- render 'icon-vimeo' -%}
              <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
            </a>
          </li>
        {%- endif -%}
        {% if settings.social_contact_email != blank %}
          <li class="footer-socials_item">
            <a target="_blank" href="mailto:{{ settings.social_contact_email }}" class="footer-socials_item--link" >
              {%- render 'icon-mail' -%}
              <span class="visually-hidden">email</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="footer-items_menues">
      {% for block in section.blocks %}
        <div class="footer_links">
          {% if block.settings.title != blank %}
            <h4 class="footer_links-title margin-bottom margin-xsmall text-size-tiny uppercase text-color-azul-verdoso-100">{{ block.settings.title }}</h4>
          {% endif %}
          <ul class="footer_links-list" role="list">
            {% for link in linklists[block.settings.menu].links %}
              <li class="footer-links_item">
                <a href="{{ link.url }}" class="footer-links_item--link margin-top margin-small link secondary text-color-grey-700">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="footer-legal padding-top padding-small">

    <div class="footer-legal-container">
      <div class="footer-copyright text-size-tiny">
        &copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: routes.root_url }}
      </div>
  
      <div class="footer-legal_menu margin-left margin-medium">
        <ul class="footer-legal_menu--list" role="list">
          {% for link in linklists[section.settings.legal_menu].links %}
            <li class="footer-legal_menu--item">
              <a href="{{ link.url }}" class="footer-legal_menu--link text-color-grey-500 text-size-tiny">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    <div class="footer-credit text-size-tiny text-color-grey-500">
      <a class="text-size-tiny text-color-grey-500" href="https://www.field-office.ca">Credits</a>
    </div>

  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu Columns",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Menu Title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "Select a Menu to display in this column"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo - Image"
    },
    {
      "type": "link_list",
      "id": "legal_menu",
      "label": "Legal Menu"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
