<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{% render 'inner-page-header', title: page.title %}

<div class="container">
  <div class="rte padding-vertical padding-xlarge">
    {{ page.content }}
  </div>
</div>

<style>

</style>

{% schema %}
{
  "name": "Main Page",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
