<div class="hero-background {{ section.settings.background_color }}">
  <div class="padding-vertical padding-xlarge">
    <div class="container hero-container">
      <div class="hero-content">
        <small class="hero-content_overline text-size-tiny uppercase text-color-tertiary">{{ section.settings.overline }}</small>
        <h1 class="hero-content_title dual-font-title">{{ section.settings.title }}</h1> 
        <p class="hero-content_body margin-top margin-medium">{{ section.settings.body }}</p> 
        {% assign numberOfCtas = section.blocks | where: "type", "cta" | size %}

        {% if numberOfCtas > 0 %}
          <div class="hero-content_ctas margin-top margin-top margin-medium">

            {% for block in section.blocks %}
              {% if block.type == 'cta' %}
                  <a 
                    class="button {% if forloop.first %}margin-right margin-small{% endif %}{% if forloop.first == false %} is-secondary{% endif %}" 
                    href="{{ block.settings.cta_link }}"
                  >
                    <span>{{ block.settings.cta_text }}</span>
                  </a>
              {% endif %}
            {% endfor %} 
          </div>
        {% endif %}

        {% assign numberOfTrustedBy = section.blocks | where: "type", "trusted_by" | size %}

        {% if numberOfTrustedBy > 0 %}
          <div class="margin-bottom margin-medium">
            <div class="hero-content_trusted_by margin-top margin-xxlarge">
              <p class="hero-content_trusted_by__text text-size-tiny text-color-grey-400 uppercase">{{ section.settings.trusted_by_text }}</p>
              {% for block in section.blocks %}
                {% if block.type == 'trusted_by' %}
                    <img class="margin-left margin-medium" src="{{ block.settings.icon_url }}" alt="{{ block.settings.icon_alt_text }}" />
                {% endif %}
              {% endfor %} 
            </div>
          </div>
        {% endif %}
      </div>
      <div class="hero-image">
        {%- comment -%} <img src="{{ section.settings.image_url | image_url }}" alt="{{ section.settings.image_alt_text }}" /> {%- endcomment -%}

        {{ section.settings.image | image_url: width: 800 | image_tag:
          loading: 'lazy',
          widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
      </div>
    </div>
  </div>
</div>

<style>

  @media (min-width: 1920px) {}
  @media (max-width: 990px) {}
  @media (max-width: 767px) {}
  @media (max-width: 479px) {}

  .hero-content_trusted_by {
    display: flex;
    align-items: center;
  }

  .hero-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .hero-content {
    width: 41%;
  }

  .hero-image {
    width: 40.7%;
  }

  .hero-image img {
    width: auto;
    height: 100%;
    aspect-ratio: 599/603;
  }
  
</style>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section-hero",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Gifts that <i>celebrate</i> small business</p>",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Each foodiepages gift basket is designed with premium goods from diverse, independently-owned makers and brands across Canada.",
      "label": "Body"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "layout_style",
      "options": [
        {
          "value": "two-columns",
          "label": "Two Columns"
        },
        {
          "value": "rows",
          "label": "Rows"
        }
      ],
      "default": "two-columns",
      "label": "Layout Style"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "background-color-azul-verdoso-10",
          "label": "Color - Azul Verdoso 10"
        },
        {
          "value": "background-color-secondary",
          "label": "Color - White"
        }
      ],
      "default": "background-color-azul-verdoso-10",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Trusted By Settings"
    },
    {
      "type": "text",
      "id": "trusted_by_text",
      "default": "Trusted by",
      "label": "Trusted by - Text"
    }
  ],
  "blocks": [
    {
      "type": "cta",
      "name": "CTA",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "cta_text",
          "default": "Shop all",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        }
      ]
    },
    {
      "type": "trusted_by",
      "name": "Trusted By",
      "limit": 4,
      "settings": [
        {
          "type": "url",
          "id": "icon_url",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "icon_alt_text",
          "label": "Icon Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
