<div class="vertical-tabs container">
  <div class="vertical-tabs-container padding-vertical padding-huge display-flex justify-content-between">
    <div class="vertical-tabs_header display-flex flex-direction-column justify-content-between padding-right {% if section.settings.image != blank %}padding-large{% else %}padding-huge{% endif %} tablet-padding-0">
      <div class="vertical-tabs_header--top">
        {% if section.settings.title != blank and section.settings.image == blank %}
          {% render 'module-header',
            overline: section.settings.overline,
            title: section.settings.title,
            text_horizontal_alignment: 'left',
            heading_style: section.settings.heading_style,
            cta_text: section.settings.cta_text,
            cta_link: section.settings.cta_link
          %}
        {% endif %}

        {% if section.settings.image != blank %}
          <div class="vertical-tabs_image">
            {{
              section.settings.image
              | image_url: width: 800
              | image_tag: loading: 'lazy', widths: '550, 720, 990, 1100, 1500, 2200, 3000'
            }}
          </div>
        {% endif %}
      </div>

      {% if section.settings.body != blank
        or section.settings.secondary_cta_text != blank
        and section.settings.image == blank
      %}
        <div class="vertical-tabs_header--bottom is-desktop margin-top margin-xlarge">
          {% if section.settings.body != blank %}
            <p class="text-size-medium text-color-grey-500 margin-bottom margin-small">{{ section.settings.body }}</p>
          {% endif %}
          {% if section.settings.secondary_cta_text != blank and section.settings.secondary_cta_link != blank %}
            <a href="{{ section.settings.secondary_cta_link }}">{{ section.settings.secondary_cta_text }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% assign numberOfAccordionItems = section.blocks | size %}

    <div class="vertical-tabs_wrapper">
      {% if section.settings.image and section.settings.title != blank %}
        <div class="margin-bottom margin-medium">
          {% render 'module-header',
            overline: section.settings.overline,
            title: section.settings.title,
            text_horizontal_alignment: 'left',
            heading_style: section.settings.heading_style,
            cta_text: section.settings.cta_text,
            cta_link: section.settings.cta_link
          %}
        </div>
      {% endif %}

      {% if numberOfAccordionItems > 0 %}
        <div class="vertical-tabs_content" data-js-element="accordion--{{ section.id }}">
          {% for block in section.blocks %}
            <div
              class="accordion-block padding-small {% if forloop.first %}is-active{% endif %}"
              data-js-element="accordion-item"
            >
              <div class="accordion-block_container padding-xsmall">
                {% render 'icon-accordion-arrow' %}
                <p class="accordion-block_overline uppercase text-size-tiny text-color-tertiary margin-bottom margin-xsmall">
                  {{ block.settings.overline }}
                </p>
                <h4 class="accordion-block_title">{{ block.settings.title }}</h4>
                <div class="accordion-block_body margin-top margin-small">{{ block.settings.body }}</div>
                {% if block.settings.cta_text != blank and block.settings.cta_link != blank %}
                  <a class="button margin-top margin-small" href="{{ block.settings.cta_link }}">
                    {{- block.settings.cta_text -}}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if section.settings.body != blank or section.settings.secondary_cta_text != blank %}
        <div class="vertical-tabs_header--bottom is-mobile margin-top margin-xlarge">
          {% if section.settings.body != blank %}
            <p class="text-size-medium text-color-grey-500 margin-bottom margin-small">{{ section.settings.body }}</p>
          {% endif %}
          {% if section.settings.secondary_cta_text != blank and section.settings.secondary_cta_link != blank %}
            <a href="{{ section.settings.secondary_cta_link }}">{{ section.settings.secondary_cta_text }}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .accordion-block {
    border-bottom: 1px solid var(--color-grey-200);
    cursor: pointer;
    position: relative;
  }

  .accordion-block .accordion-arrow {
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: 300ms ease;
    transform: rotate(180deg);
  }

  .vertical-tabs_header--bottom.is-desktop {
    display: block;
    max-width: 25.9375rem;
    padding-right: 2rem;
  }

  .vertical-tabs_header--bottom.is-mobile {
    display: none;
  }

  .accordion-block.is-active .accordion-block_body {
    display: block;
  }

  .accordion-block .accordion-block_body {
    display: none;
  }

  .accordion-block.is-active {
    border-bottom: 1px solid transparent;
    border-radius: 6px;
    transition: height 300ms ease;
    background: var(--color-mar-10);
  }

  .accordion-block.is-active .accordion-arrow {
    transform: rotate(0deg);
  }

  .vertical-tabs_header {
    width: 47%;
  }

  .vertical-tabs_wrapper {
    width: 53%;
  }

  .vertical-tabs_content {
    width: 100%;
  }

  .vertical-tabs_image img {
    border-radius: 1rem;
    aspect-ratio: 1/1;
    object-fit: contain;
    max-height: 40rem;
    margin-top: 2.5rem;
  }

  @media screen and (max-width: 990px) {
    .vertical-tabs_header,
    .vertical-tabs_wrapper {
      width: 100%;
    }

    .vertical-tabs_image img {
      border-radius: 1rem;
      aspect-ratio: 1/1;
      object-fit: contain;
      max-height: calc(100vw - 2rem);
      margin-top: 0rem;
    }

    .vertical-tabs-container {
      flex-direction: column;
    }

    .vertical-tabs_header {
      margin-bottom: 2.5rem;
    }

    .vertical-tabs_header--bottom.is-desktop {
      display: none;
    }

    .vertical-tabs_header--bottom.is-mobile {
      display: block;
    }
  }
</style>

<script type="module">
  const accordion = document.querySelector('[data-js-element="accordion--{{ section.id }}"]');
  const accordionItems = [...accordion.querySelectorAll('[data-js-element="accordion-item"]')];

  accordionItems.forEach((item) => {
    item.addEventListener('click', () => {
      accordionItems.forEach((item) => item.classList.remove('is-active'));
      item.classList.add('is-active');
    });
  });
</script>

{% schema %}
{
  "name": "Vertical Tabs",
  "tag": "section",
  "class": "section section-vertical-tabs",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "How it works",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Exceptional times call for <em>exceptional gifts</em></p>",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        }
      ],
      "default": "h2",
      "label": "Heading style"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Using the image will override the usually design to place the image of the left. The title and the tagline (above the title) will be placed on the right above the accordions."
    },
    {
      "type": "text",
      "id": "cta_text",
      "default": "Get in touch",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Couldn’t find what you were looking for? write to us at",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "secondary_cta_text",
      "default": "Get in touch",
      "label": "CTA Text - Secondary"
    },
    {
      "type": "url",
      "id": "secondary_cta_link",
      "label": "CTA Link - Secondary"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "overline",
          "default": "Step 1",
          "label": "Overline"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Create a Campaign",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "body",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lorem qui lectus molestie malesuada vitae vel purus.",
          "label": "Body"
        },
        {
          "type": "text",
          "id": "cta_text",
          "default": "Get in touch",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vertical Tabs"
    }
  ]
}
{% endschema %}
