{{ 'module-tabs.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="padding-vertical padding-xlarge">
    <small class="text-size-tiny">{{ section.settings.overline }}</small>
    <h2 class="dual-font-title">{{ section.settings.title }}</h2>
  </div>
  <div>{{ section.settings.richtext }}</div>
  {% for block in section.blocks %}
    <div>{{ block.settings.richtext }}</div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Tabs",
  "tag": "section",
  "class": "section section-tabs",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "How we do it",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>The <em>best</em> gifting service in Canada</p>",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "tab",
      "name": "Tab",
      "limit": 5,
      "settings": [
        {
          "type": "url",
          "id": "icon_url",
          "label": "Icon URL"
        },
        {
          "type": "text",
          "id": "tab_text",
          "label": "Tab Text"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "body",
          "label": "Body"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabs"
    }
  ]
}
{% endschema %}
