{{ 'swiper.css' | asset_url | stylesheet_tag }}
{{ 'module-tag-slider.css' | asset_url | stylesheet_tag }}

{% assign overline = section.settings.overline %}
{% assign title = section.settings.title %}

<div class="module-tag-slider container" style="overflow: hidden;" data-js-element="tag-slider-module-{{ section.id }}">
  <div class="margin-vertical margin-huge">
    <div class="padding-bottom padding-xxlarge">
      {% render 'module-header', overline: overline, title: title %}
    </div>

    <div class="swiper tag-slider-module-swiper" data-js-element="tag-slider-module-swiper-{{ section.id }}">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper padding-bottom padding-xlarge">

        {% for block in section.blocks %}

        {% assign block_title = block.settings.title %}
        {% assign block_collection = collections[block.settings.collection] %}

        {% unless block_title != '' %}
          {% assign block_title = block_collection.title %}
        {% endunless %}

        <!-- Slides -->
        <div class="tag-slide swiper-slide background-color-azul-verdoso-10 center padding-horizontal padding-small">
          <a href="{{ block_collection.url }}" class="tag-slider_inner">
            <h3 class="heading-style-h4">{{ block_title }}</h3>
            {% 
              render 'button', 
              cta_text: section.settings.cta_text, 
              cta_link: '',
              class: 'margin-top margin-small',
              theme: '',
              preventClick: true,
            %}
          </a>
        </div>

        {% endfor %}

      </div>

      {% render 'icon-prev-arrow' %}
      {% render 'icon-next-arrow' %}

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>

<script type="module">
  const initTagSlider = () => {
    const swiperSliderContainer = document.querySelector("[data-js-element='tag-slider-module-swiper-{{ section.id }}']")

    const swiper = new Swiper(swiperSliderContainer, {
      spaceBetween: 24,
      freeMode: true,
      slidesPerView: "auto",
      mousewheel: {
        forceToAxis: true,
      },
      scrollbar: {
        el: ".module-tag-slider .swiper-scrollbar",
        draggable: true,
      },
      navigation: {
        nextEl: '.module-tag-slider .icon-next-arrow',
        prevEl: '.module-tag-slider .icon-prev-arrow',
      },
      breakpoints: {
      // when window width is >= 320px
      1681: {
        slidesPerView: 5,
      },
    }
    });
  }

  initTagSlider()
</script>

{% schema %}
{
  "name": "Tag Slider",
  "tag": "section",
  "class": "section section-tag",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick Shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Explore gifts by category</p>",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "cta_text",
      "default": "Shop now",
      "label": "CTA Text"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tag Slider"
    }
  ]
}
{% endschema %}
