{{ 'swiper.css' | asset_url | stylesheet_tag }}
{{ 'module-testimonials.css' | asset_url | stylesheet_tag }}

{% assign overline = section.settings.overline %}
{% assign title = section.settings.title %}
{% assign cta_text = section.settings.cta_text %}
{% assign cta_link = section.settings.cta_link %}

<div class="module-testimonial-slider container" style="overflow: hidden;" data-js-element="testimonial-slider-module-{{ section.id }}">
  <div class="margin-vertical margin-huge">
    <div class="padding-bottom padding-xlarge">
      {% render 'module-header', 
        overline: overline, 
        title: title,
        cta_text: cta_text,
        cta_link: cta_link,
      %}
    </div>

    <div class="swiper testimonial-slider-module-swiper" data-js-element="testimonial-slider-module-swiper-{{ section.id }}">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper padding-bottom padding-xlarge">

        {% for block in section.blocks %}

        <!-- Slides -->
        <div class="testimonial-slide swiper-slide background-color-mar-10 center padding-horizontal padding-large">
          <div class="testimonial-slide-content padding-vertical padding-large left">
            <img class="testimonial-icon margin-bottom margin-medium" src="https://cdn.shopify.com/s/files/1/0264/5000/2013/files/bxs_quote-alt-right.png?v=1665429847" alt="Quote Icon" />
            <p>{{ block.settings.text }}</p>
            {% if block.settings.image != blank %}
              <img src="{{ block.settings.image | image_url: width: 300 }}"
                class="testimonial-client-logo margin-top margin-medium"
                alt="Quote Icon"
                loading="lazy"
              >
            {% endif %}
          </div>
        </div>

        {% endfor %}

      </div>

      {% render 'icon-prev-arrow' %}
      {% render 'icon-next-arrow' %}

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>

<script type="module">
  const initTestimonialsSlider = () => {
    const nextArrow = document.querySelector('.icon-next-arrow');
    const prevArrow = document.querySelector('.icon-prev-arrow');
    const swiperTestimonialSliderContainer = document.querySelector("[data-js-element='testimonial-slider-module-swiper-{{ section.id }}']")

    const swiper = new Swiper(swiperTestimonialSliderContainer, {
      spaceBetween: 24,
      freeMode: true,
      slidesPerView: "auto",
      mousewheel: {
          forceToAxis: true,
        },
      scrollbar: {
        el: ".module-testimonial-slider .swiper-scrollbar",
        draggable: true,
      },
      navigation: {
        nextEl: '.module-testimonial-slider .icon-next-arrow',
        prevEl: '.module-testimonial-slider .icon-prev-arrow',
      },
      breakpoints: {
      // when window width is >= 320px
      1681: {
        slidesPerView: 3,
      },
      1100: {
        slidesPerView: 2.7,
      },
      991: {
        slidesPerView: 2.4,
      },
      500: {
        slidesPerView: 1,
      },
    }
    });
  }

  initTestimonialsSlider()
</script>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "section section-testimonials",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick Shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Explore gifts by category</p>",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "cta_text",
      "default": "Shop now",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "default": "Foodiepages has been a trusted partner of Dynacare for several years, providing quality, trusted and reliable services for important gifts for staff, clients, and executives. Not only are they thorough and dependable – but Foodiepages also makes strategic and impactful recommendations for us to bring our gifting to the next level. The costs are affordable and they go the extra mile to ensure the recipient(s) feel important and valued. I would recommend Foodiepages to anyone looking for a quality gifting partner.",
          "label": "Body"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Client Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials"
    }
  ]
}
{% endschema %}
