{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{% assign title = section.settings.title %}
{% assign body = section.settings.body %}
{% assign input_text = section.settings.input_text %}
{% assign submit_button_text = section.settings.submit_button_text %}
{% assign success_message = section.settings.success_message %}

<div class="container" style="overflow: hidden;" data-js-element="newsletter-module-{{ section.id }}">
  <div class="margin-vertical margin-huge">

    <div class="newsletter-header padding-bottom padding-medium">
      {% render 'module-header', 
        overline: '', 
        title: title,
        body: body,
        cta_text: '',
        cta_link: '',
      %}
    </div>

    {% form 'customer', class: 'newsletter-form' %}

      <div class="input-container">
        <input type="hidden" name="contact[tags]" value="newsletter">
      
        <div class="field-wrapper margin-0">
          
          <input
            id="NewsletterForm--{{ section.id }}"
            type="email"
            name="contact[email]"
            class="field_input"
            value="{{ form.email }}"
            aria-required="true"
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            {% if form.errors %}
              autofocus
              aria-invalid="true"
              aria-describedby="Newsletter-error--{{ section.id }}"
            {% elsif form.posted_successfully? %}
              aria-describedby="Newsletter-success--{{ section.id }}"
            {% endif %}
            placeholder="{{ input_text }}"
            required
          >

        </div>

        <button type="submit" class="button newsletter-submit-button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
          <span>{{ submit_button_text }}</span>
        </button>
      </div>

      {%- if form.errors -%}
        <small class="text-size-tiny text-color-grey-500 newsletter-form__message form__message margin-top margin-small" id="Newsletter-error--{{ section.id }}">
          {% render 'icon-error' %}
          {{ form.errors.translated_fields['email'] | capitalize }} 
          {{ form.errors.messages['email'] }}
        </small>
      {%- endif -%}

      {%- if form.posted_successfully? -%}
        <h3 class="text-size-tiny text-color-grey-500 form__message margin-top margin-small" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
          {% render 'icon-success' %}
          {{ success_message }}
        </h3>
      {%- endif -%}
      
  {% endform %}
  
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "tag": "section",
  "class": "section section-newsletter",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>We have <em>high standards</em>for emails too.</p>",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Sign up with your email to receive news and updates on our new gift box releases.",
      "label": "Body"
    },
    {
      "type": "text",
      "id": "input_text",
      "default": "Enter your email",
      "label": "Email Input Text"
    },
    {
      "type": "text",
      "id": "submit_button_text",
      "default": "Sign up",
      "label": "Button Text"
    },
    {
      "type": "text",
      "id": "success_message",
      "default": "Thank you for subscribing!",
      "label": "Success Message"
    }
  ],
  "presets": [
    {
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
