{{ 'module-hero.css' | asset_url | stylesheet_tag }}

<div class="hero-background {{ section.settings.background_color }}">
  <div class="padding-vertical padding-xlarge">
    <div class="container hero-container {{ section.settings.layout_style }}">
      <div class="hero-content {{ section.settings.layout_style }}">
        <div class="hero-content_primary">
          {% render 'module-header', 
            overline: section.settings.overline, 
            title: section.settings.title,
            text_horizontal_alignment: 'left',
            heading_style: section.settings.heading_style,
          %}
        </div>
        <div class="hero-content_secondary">
          {% if section.settings.body != blank %}
            <p class="hero-content_body margin-top margin-medium mobile-margin-small">{{ section.settings.body }}</p> 
          {% endif %}

          {% assign ctasArray = section.blocks | where: "type", "cta" %}
          {% assign numberOfCtas = ctasArray | size %}

          {% if numberOfCtas > 0 %}
            <div class="hero-content_ctas margin-top margin-top margin-medium mobile-margin-0">

              {% for block in ctasArray %}
                <div class="margin-top mobile-margin-small">
                  <a 
                    class="button {% if forloop.first %}margin-right margin-small{% endif %}{% if forloop.first == false %} is-secondary{% endif %}" 
                    href="{{ block.settings.cta_link }}"
                  >
                    <span>{{ block.settings.cta_text }}</span>
                  </a>
                </div>
              {% endfor %} 
            </div>
          {% endif %}

          {% assign trustedByArray = section.blocks | where: "type", "trusted_by" %}
          {% assign numberOfTrustedBy = trustedByArray | size %}

          {% if numberOfTrustedBy > 0 %}
            <div class="hero-content_trusted_by__container margin-bottom margin-medium">
              <div class="hero-content_trusted_by margin-top margin-xlarge">
                <p class="hero-content_trusted_by__text text-size-tiny text-color-grey-400 uppercase margin-bottom margin-small">{{ section.settings.trusted_by_text }}</p>
                <div class="hero-content_grid">
                  {% for block in trustedByArray %}
                    <img class="hero-content_trusted_by__logo" src="{{ block.settings.icon_url }}" alt="{{ block.settings.icon_alt_text }}" />
                  {% endfor %} 
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="hero-image {{ section.settings.layout_style }}">
        {%- comment -%} <img src="{{ section.settings.image_url | image_url }}" alt="{{ section.settings.image_alt_text }}" /> {%- endcomment -%}

        {{ section.settings.image | image_url: width: 800 | image_tag:
          loading: 'lazy',
          widths: '550, 720, 990, 1100, 1500, 2200, 3000'
        }}
      </div>
    </div>
  </div>
</div>

<style>
  .hero-container {
    display: flex;
    align-items: {{ section.settings.text_vertical_alignment }};
    justify-content: space-between;
  }
</style>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section section-hero",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Gifts that <i>celebrate</i> small business</p>",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_style",
      "options": [
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        }
      ],
      "default": "h1",
      "label": "Heading 1"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Each foodiepages gift basket is designed with premium goods from diverse, independently-owned makers and brands across Canada.",
      "label": "Body"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "select",
      "id": "text_vertical_alignment",
      "options": [
        {
          "value": "flex-end",
          "label": "Bottom"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "flex-end",
      "label": "Text Vertical Alignment (Desktop)"
    },
    {
      "type": "select",
      "id": "layout_style",
      "options": [
        {
          "value": "two-columns",
          "label": "Two Columns"
        },
        {
          "value": "rows",
          "label": "Rows"
        }
      ],
      "default": "two-columns",
      "label": "Layout Style"
    },
    {
      "type": "select",
      "id": "background_color",
      "options": [
        {
          "value": "background-color-azul-verdoso-10",
          "label": "Color - Azul Verdoso 10"
        },
        {
          "value": "background-color-secondary",
          "label": "Color - White"
        }
      ],
      "default": "background-color-azul-verdoso-10",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Trusted By Settings"
    },
    {
      "type": "text",
      "id": "trusted_by_text",
      "default": "Trusted by",
      "label": "Trusted by - Text"
    }
  ],
  "blocks": [
    {
      "type": "cta",
      "name": "CTA",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "cta_text",
          "default": "Shop all",
          "label": "CTA Text"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "CTA Link"
        }
      ]
    },
    {
      "type": "trusted_by",
      "name": "Trusted By",
      "limit": 8,
      "settings": [
        {
          "type": "url",
          "id": "icon_url",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "icon_alt_text",
          "label": "Icon Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
