{{ 'module-tag-slider.css' | asset_url | stylesheet_tag }}

{% assign overline = section.settings.overline %}
{% assign title = section.settings.title %}

<div class="module-tab_container container" data-js-element="tab-module-{{ section.id }}">
  <div class="padding-vertical padding-huge">
    {% render 'module-header', overline: overline, title: title %}
  </div>


  
  {% for block in section.blocks %}

    {%- comment -%} {% for product in collections['sale-potions'].products %}
      {{- product.title | link_to: product.url }}
    {% endfor %} {%- endcomment -%}
    <pre>{{ block.settings.collection }}</pre>
    <div>{{ block.settings.title }}</div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Tag Slider",
  "tag": "section",
  "class": "section section-tag",
  "settings": [
    {
      "type": "text",
      "id": "overline",
      "default": "Quick Shop",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>Explore gifts by category</p>",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "cta_text",
      "default": "Shop now",
      "label": "CTA Text"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tag Slider"
    }
  ]
}
{% endschema %}
