{{ 'swiper.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>

<div class="product-recommendations-slider container" style="overflow: hidden;">

  {% if section.settings.collection != 'blank' %}

    <div class="margin-vertical margin-huge">

      <div class="padding-bottom padding-xlarge">
        {% render 'module-header', 
          overline: section.settings.overline, 
          title: section.settings.title,
          body: section.settings.body,
          text_horizontal_alignment: 'center',
          cta_text: section.settings.cta_text,
          cta_link: section.settings.cta_link,
          text_horizontal_alignment: 'left',
        %}
      </div>

      {% render 'slider', items: section.settings.collection.products, section: section, settings: section.settings, id: section.id %}

    </div>

  {% else %}

    <product-recommendations class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">

      {% if recommendations.performed and recommendations.products_count > 0 %}

        <div class="margin-vertical margin-huge">

          <div class="padding-bottom padding-xlarge">
            {% render 'module-header', 
              overline: section.settings.overline, 
              title: section.settings.title,
              body: section.settings.body,
              text_horizontal_alignment: 'center',
              cta_text: section.settings.cta_text,
              cta_link: section.settings.cta_link,
              text_horizontal_alignment: 'left',
            %}
          </div>

          {% render 'slider', items: recommendations.products, section: section, settings: section.settings, id: section.id %}

        </div>

      {% endif %}
    </product-recommendations>
  
  {% endif %}

</div>

{% schema %}
{
  "name": "Product Recommendations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https:\/\/help.shopify.com\/themes\/development\/recommended-products)"
    },
    {
      "type": "text",
      "id": "overline",
      "default": "Product recommendations",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>You may also like</p>",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Discover more products that may be of interest to you.",
      "label": "Body"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection - [Manually selection a product collection]"
    },
    {
      "type": "header",
      "content": "Promo card settings"
    },
    {
      "type": "url",
      "id": "icon_url",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Promo - Title"
    },
    {
      "type": "textarea",
      "id": "promo_body",
      "label": "Promo - Body"
    },
    {
      "type": "text",
      "id": "promo_cta_text",
      "default": "Shop all",
      "label": "Promo - CTA Text"
    },
    {
      "type": "url",
      "id": "promo_cta_link",
      "label": "Promo - CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Product Recommendations"
    }
  ]
}
{% endschema %}
