<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>

<div class="no-js-hidden">
  <product-recommendations class="product-recommendations page-width section-{{ section.id }}-padding isolate" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
    {% if recommendations.performed and recommendations.products_count > 0 %}
      
      {% render 'module-header', 
        overline: section.settings.overline, 
        title: section.settings.title,
        body: section.settings.body,
        text_horizontal_alignment: 'center',
        cta_text: section.settings.cta_text,
        cta_link: section.settings.cta_link
      %}

      {% for recommendation in recommendations.products %}
        <li class="grid__item">
          {% render 'card-pdp',
            card_product: recommendation,
            show_quick_add: false,
            section_id: section.id,
          %}
        </li>

        {% if forloop.index == 3 %}
          {% render 'promo-card',
            icon_url: section.settings.icon_url,
            title: section.settings.promo_title,
            body: section.settings.promo_body,
            cta_text: section.settings.promo_cta_text,
            cta_link: section.settings.promo_cta_link
          %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </product-recommendations>
</div>

{% schema %}
{
  "name": "Product Recommendations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Dynamic recommendations use order and product information to change and improve over time. [Learn more](https:\/\/help.shopify.com\/themes\/development\/recommended-products)"
    },
    {
      "type": "text",
      "id": "overline",
      "default": "Product recommendations",
      "label": "Overline"
    },
    {
      "type": "richtext",
      "id": "title",
      "default": "<p>You may also like</p>",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "body",
      "default": "Discover more products that may be of interest to you.",
      "label": "Body"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.product-recommendations.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "Promo card settings"
    },
    {
      "type": "url",
      "id": "icon_url",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "promo_title",
      "label": "Promo - Title"
    },
    {
      "type": "textarea",
      "id": "promo_body",
      "label": "Promo - Body"
    },
    {
      "type": "text",
      "id": "promo_cta_text",
      "default": "Shop all",
      "label": "Promo - CTA Text"
    },
    {
      "type": "url",
      "id": "promo_cta_link",
      "label": "Promo - CTA Link"
    }
  ]
}
{% endschema %}
