<div id="section-id-{{ section.id }}" class="spacer"></div>

<style>
  #section-id-{{ section.id }}.spacer {
    display: block !important;
    height: {{ section.settings.add_spacing_desktop }}px;
    margin-bottom: -{{ section.settings.remove_spacing_desktop }}px;
    background: {{ section.settings.background_color }};
  }

  @media screen and (max-width: 991px) {
    #section-id-{{ section.id }}.spacer {
      height: {{ section.settings.add_spacing_tablet }}px;
      margin-bottom: -{{ section.settings.remove_spacing_tablet }}px;
    }
  }

  @media screen and (max-width: 479px) {
    #section-id-{{ section.id }}.spacer {
      height: {{ section.settings.add_spacing_mobile }}px;
      margin-bottom: -{{ section.settings.remove_spacing_mobile }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Spacer - Section",
    "tag": "div",
    "class": "c-section-login wf-section",
    "settings": [ 
      {
        "type": "select",
        "id": "background_color",
        "options": [
          {
            "value": "#ffffff",
            "label": "Color - White"
          }
        ],
        "default": "#ffffff",
        "label": "Background Color"
      }, 
      {
        "type": "range",
        "id": "add_spacing_mobile",
        "label": "ADD Spacing [MOBILE]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "remove_spacing_mobile",
        "label": "REMOVE Spacing [MOBILE]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "add_spacing_tablet",
        "label": "ADD Spacing [TABLET]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "remove_spacing_tablet",
        "label": "REMOVE Spacing [TABLET]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "add_spacing_desktop",
        "label": "ADD Spacing [DESKTOP]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "remove_spacing_desktop",
        "label": "REMOVE Spacing [DESKTOP]",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "Spacer - Section"
      }
    ]
  }
{% endschema %}